.g-banner-page
	height 280px
	box-sizing border-box
	position relative
	// overflow hidden
	+ section
		position relative
		z-index 1
	&.has-image
		height 350px
		.gbp-inner
			padding-bottom 0
.gbp-bg
	height 100%
	width 100%
	position absolute
	z-index 1
	top 0
	bottom 0
	left 0
	right 0
	margin auto
	background-repeat no-repeat
	background-size cover
	background-position center center
	overflow hidden
	&:before
		content ''
		display block
		position absolute
		left -200px
		top -580px
		border-radius 50%
		width 1484px
		height 1484px
		background radial-gradient(53.75% 53.75% at 46.25% 45.13%, #FFFFFF 18.75%, rgba(255, 255, 255, 0.505642) 64.58%, rgba(255, 255, 255, 0.173228) 81.77%, rgba(255, 255, 255, 0) 100%);
		opacity 0.96
.gbp-inner
	height 100%
	display flex
	justify-content flex-start
	align-items flex-start
	padding-top 85px
	padding-bottom 10px
	box-sizing border-box
	position relative
	z-index 2

.gbp-imagen
	position absolute
	bottom 0
	right 0
	font-size 0
	img
		max-width 100%
		height auto

@media screen and (max-width $xlarge)
	.g-banner-page
		background-size 1920px 280px
	.gbp-bg
		&:before
			left -565px

@media screen and (max-width $large)
	.g-banner-page
		&.has-image
			flex-wrap wrap
			.g-title,
			.gbp-imagen
				width 50%

	.gbp-inner
		padding-top 60px



@media screen and (max-width $medium)
	.g-banner-page
		height auto
		&.has-image
			height auto
			.gbp-inner
				flex-wrap wrap
			.g-title,
			.gbp-imagen
				width 100%
			.gbp-imagen
				position relative
				max-width 400px
				margin auto

@media screen and (max-width $small)
	.gbp-inner
		padding-left 0
		padding-bottom 10px


@media screen and (max-width $xsmall)
	.gbp-bg
		&:before
			width 500px
			height 500px
			left -100px
			top -170px
