.c-header
  position fixed
  width 100%
  transform translateY(-100%)
  top 0
  left 0
  z-index 4 // 4 header siempre visible | 2 cubierto por el loader
  box-shadow 0 0 0 0 transparent
  transition all .3s ease

.c-header.is-scrolling.is-fixed
  box-shadow 0px 4px 12px -4px rgba(0,0,0,0.5)
.c-header.is-scrolling
  background c-1
  padding-top 0
  .c-header__logo
    max-width 112px

.c-header.is-fixed
  transform translateY(0)

.c-header__content
  z-index 3
  transition-all()

.c-header__logo
  max-width 200px
  width 100%
  margin 0
  transition-all()
  img
    display block
    width 100%
    height auto

@media screen and (max-width $large)
  .c-header
    top 0
    padding-top 6px
    padding-bottom 6px
  .c-header__logo
    max-width 92px

  .c-header.is-scrolling
    padding-top 6px
    .c-header__logo
        max-width 92px
