@keyframes girar
	from
		transform translateX(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
	to
		transform translateX(0px) rotateX(0deg) rotateY(360deg) rotateZ(360deg)
@keyframes scaleImg
	0%
		transform scale(1)
	15%
		opacity 1
	95%
		opacity 1
		transform scale(1.1)

	100%
		opacity 0
		transform scale(1.2)

.gi3d-scene3d
	height 250px
	width 250px
	perspective 1000px
	margin auto
	z-index 0

.gi3d-object3d
	width 100%
	height 100%
	position absolute
	top 0
	transform translateX(0px) rotateX(30deg) rotateY(60deg) rotateZ(10deg)
	transform-style preserve-3d
	animation girar 15s infinite linear

.gi3d-face3d
	position absolute
	top 0
	left 0
	bottom 0
	right 0
	margin auto
	max-width 250px
	max-height 250px
	width 100%
	height 100%
	img
		width 100%
		max-width 100%
		height auto
	&#im28
		fill red
		transform translateZ(125px)
	&#im29
		fill green
		transform translateZ(-125px)
	&#im2A
		fill blue
		transform translateX(125px) rotateY(90deg)
	&#im2B
		fill orange
		transform translateX(-125px) rotateY(-90deg)
	&#im2C
		fill purple
		transform translateY(125px) rotateX(90deg)
	&#im2D
		fill yellow
		transform translateY(-125px) rotateX(-90deg)
