.g-loader
	transform translateX(-100%)
	position fixed
	height 100%
	box-sizing border-box
	z-index 3
	width 100%
	display flex
	background c-7a
	align-items center
	justify-content center
	text-align center
	color c-5
	transition all .3s ease
	top 0
	bottom 0
	right 0
	left 0
	span
		font-size 16px
		margin-bottom 5px
		font-family t-1c
		display block
	em
		display block
		font-size 12px
		font-family t-1
		font-style normal
		text-align center
	.gi3d-scene3d
		transform scale(.3)
		position absolute
		top -150px
		bottom -150px
		right -150px
		left -150px
	.gi3d-object3d
		animation girar 5s infinite linear
.g-inload
	width 100%
	max-width 200px
.g-loader-online
	display block

.g-loader-offline
	display none

.g-lpicon
	color c-0
	font-size 50px
	text-align center
	margin-bottom 10px
.g-loader-icon
	max-width 100px
	margin auto
	min-height 120px
	position relative
.g-loader-progress
	margin auto
	margin-bottom 10px
	width 100%
	max-width 200px
	height 3px
	background c-0c
	position relative
	overflow hidden
	&:after
		content ''
		display block
		position absolute
		height 100%
		width 50%
		background c-3
		animation load 1.2s linear infinite
