@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?40r2m2');
  src:  url('fonts/icomoon.eot?40r2m2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?40r2m2') format('truetype'),
    url('fonts/icomoon.woff?40r2m2') format('woff'),
    url('fonts/icomoon.svg?40r2m2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e91b";
}
.icon-check:before {
  content: "\e900";
}
.icon-chevron_left:before {
  content: "\e901";
}
.icon-chevron_right:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-expand_less:before {
  content: "\e904";
}
.icon-expand_more:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e907";
}
.icon-reply:before {
  content: "\e91c";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e919";
}
.icon-instagram:before {
  content: "\e91a";
}
.icon-messenger:before {
  content: "\e908";
}
.icon-notifications:before {
  content: "\e909";
}
.icon-notifications_active:before {
  content: "\e90a";
}
.icon-phone_in_talk:before {
  content: "\e90b";
}
.icon-play_circle_outline:before {
  content: "\e90c";
}
.icon-refresh:before {
  content: "\e90d";
}
.icon-room:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-wifi_off:before {
  content: "\e910";
}
.icon-calendar:before {
  content: "\e911";
}
.icon-logo-johann:before {
  content: "\e912";
}
.icon-downloadapp:before {
  content: "\e913";
}
.icon-jr:before {
  content: "\e914";
}
.icon-mail:before {
  content: "\e915";
}
.icon-menu_02:before {
  content: "\e916";
}
.icon-share:before {
  content: "\e917";
}
.icon-plus:before {
  content: "\e918";
}
