.c-avatar-button
  border-radius 18px
  background-t(c-1, alpha = 0.2)
  padding 4px 5px
  box-sizing border-box
  user-select none
  cursor pointer
  &--primary
    & ^[0]__text
      color c-1
  &--secondary
    border 1px solid c-3
    & ^[0]__text
      color c-3
  &__image
    width 28px
    height 28px
    border-radius 50%
    overflow hidden
    img
      max-width 100%
      height auto
  &__text
    margin-left 5px
    width calc(100% - 33px)
    font-size 16px
    font-family t-0d0
