.g-banner-proyecto
	background-size cover
	background-position center center
	background-repeat no-repeat
	padding-top 107px
	position relative
	overflow hidden
	&:before
		content ''
		display block
		position absolute
		top 0
		bottom 0
		right 0
		left 0
		opacity 0.95
		background c-1
		z-index 0

.gbpy-detail
	background-color c-7
	padding 30px 0
	position relative
	z-index 1

.gbpy-inner
	position relative
	font-size 0
	.g-title.g-title--medium
		position absolute
		top 0
		left 0
		&:before
			background c-1
		.g-title__text__t1,
		.g-title__text__t2,
		.g-title__text__t3
			color c-1
		.g-title__icon
			border-radius 50%
			background c-1
			filter grayscale(100%)
			padding 5px
			box-sizing border-box

.gbpy-imagen
	display inline-block
	vertical-align middle
	font-size 0
	border-radius 25px
	background-t(c-1, alpha = 0.2)
	overflow hidden
	height 200px
	width 1100px
	margin-left 550px
	img
		max-width 100%
		height auto

@media screen and (max-width $large)
	.g-banner-proyecto
		padding-top 60px
@media screen and (max-width $xsmall)
	.gbpy-imagen
		display none
	.gbpy-inner
		.g-title.g-title--medium
			position relative
			top initial
			bottom initial
			right initial
	.gbpy-detail
		padding 0
	.gbpy-inner
		padding 0px 0 10px
