.c-breadcrumd
	display block
	width 100%
	background c-7

.c-breadcrumd__inner
	padding 5px 0
	display flex
	flex-wrap wrap
	align-items center
.c-breadcrumd__routelist,
.c-breadcrumd__date
	width 50%
	padding-left 10px
	box-sizing border-box

.c-breadcrumd__routelist
	font-size 0
	box-sizing border-box
.c-breadcrumd__routelist__item
	position relative
	color c-2
	font-family t-0c
	font-size 13px
	line-height 16px
	display inline-block
	vertical-align middle
	padding-left 14px
	&:hover
		color c-3
	&:first-child
		padding-left 0
		&:before
			display none
	&:before
		content '\e902'
		font-family icomoon
		position absolute
		top 0
		bottom 0
		left 0
		font-size 13px
		line-height 16px
		color c-2

.c-breadcrumd__date
	color c-0
	font-family t-0b
	font-size 12px
	line-height 16px
	text-align right

@media screen and (max-width $large)
	.c-breadcrumd__date
		margin-top 3px
	.c-breadcrumd__routelist,
	.c-breadcrumd__date
		width 100%
		text-align left
