.g-boton
  font-family t-0d
  font-size 14px
  color c-1
  padding 13px 25px 14px
  background c-0a
  border-radius 20px
  box-sizing border-box
  display inline-block
  vertical-align middle
  position relative
  cursor pointer
  overflow hidden
  border 0
  z-index 1
  box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)
  min-width 158px
  text-align center
  em
    text-transform uppercase
    position relative
    z-index 1
  &:before
    content ''
    width 22px
    height 22px
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    opacity 0
    transition-all()
    border-width 2px
    border-style solid
    border-radius 50%
    animation loading-icon 500ms linear infinite
    box-sizing border-box
    border-bottom-color c-1
    border-top-color rgba(255, 255, 255, 0.2)
    border-left-color rgba(255, 255, 255, 0.2)
    border-right-color rgba(255, 255, 255, 0.2)
    margin auto
  &:after
    position absolute
    height 200px
    width 200px
    border-radius 50%
    z-index 0
    top -160px
    bottom -160px
    left -160px
    right -160px
    margin auto
    content ''
    display block
    background c-3
    transition-all()
    transform scale(.5)
    opacity 0
  &:hover
    &:after
      transform scale(1)
      opacity 1
  &:active,
  &.active
    transform translateY(1px)
    box-shadow 0px 0px 0px rgba(0, 0, 0, 0.25)
    &:after
      transform scale(1)
      opacity 1

  &:disabled,
  &.disabled
    pointer-events none
    cursor not-allowed
    background c-0d
    color c-0c
    box-shadow 0px 1px 1px rgba(0, 0, 0, 0.25)
  &.is-loading
    pointer-events none
    &:before
      opacity 1
    em
      opacity 0

@keyframes loading-icon {
    0% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



.g-circle-button
  width 40px
  height 40px
  border 0
  box-sizing border-box
  border-radius 50%
  text-align center
  line-height 40px
  position relative
  font-size 0
  display inline-block
  vertical-align middle
  overflow hidden
  cursor pointer
  &:before
    font-size 22px
    position relative
    z-index 1
  &:after
    position absolute
    border-radius 50%
    z-index 0
    top 0
    bottom 0
    left 0
    right 0
    content ''
    display block
    height 100%
    width 100%
    transition-all()
    transform scale(.5)
    opacity 0

  &--primary
    background-color c-7a
    color c-3
    &:after
      background-color c-7
  &--secondary
    background-color c-0a
    color c-1
    &:after
      background-color c-0
  &--tertiary
    background-color c-2
    color c-1
    &:after
      background-color c-3

  &:hover
    &:after
      transform scale(1)
      opacity 1
  &:active
    transform scale(.95)
    &:after
      transform scale(1)
      opacity 1
  &.is-active
    background-color c-9
