.c-card
  font-size 0
  position relative
  display inline-block
  width 100%
  max-width 285px
  filter drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25))
  text-align left
  z-index 1
  &__controls
    position absolute
    top 10px
    right 10px
    z-index 2
