.g-checkbox
    position relative
    display block
    width 100%
    margin-bottom 10px
    text-align left
    input[type="checkbox"]
        position absolute
        top 0
        left 0
        opacity 0
        &:checked
            +span
                &:before
                    color c-0a
    em,span
        display inline-block
        vertical-align top
    em
        text-align left
        font-size 16px
        color c-0a
        margin-bottom 0
        width calc(100% - 30px)
        font-family t-0
    span
        width 20px
        height 20px
        margin-right 10px
        border 1px solid c-0a
        box-sizing border-box
        border-radius 4px
        line-height 18px
        background c-1
        text-align center
        &:before
            content '\e900'
            font-family icomoon
            font-size 16px
            color transparent
            transition-all()
    .c-label
        position relative
        left 30px
        width 100%
        em
            color c-8
            font-size 10px
