.c-elipse-card
  position relative
  display inline-block
  filter drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25))
  width 100%
  max-width 160px
  input[type="radio"]
    display none
  &__controls
    position absolute
    pointer-events none
    left 0
    right 0
    bottom 0
    margin auto
    transform translateY(0px)
    transition-all()
    opacity 0
    z-index 1

  &.is-active
    filter drop-shadow(0 0px 2px rgba(0, 0, 0, 0.25))
    transform translateY(2px)
    & ^[0]__controls
      opacity 1
      transform translateY(-10px)
    & ^[0]__info
      &:before
        transform translateY(10px)
        opacity 1
        background c-0a
    & ^[0]__desc
      transform scale(0.5)
      opacity 0
      visibility hidden
  &:hover
    & ^[0]__info
      &:before
        transform translateY(10px)
        opacity 1
    & ^[0]__img
      &:before
        transform scale(1.2)
  &__info
    height 200px
    width 100%
    background c-1
    border-radius 80px
    padding 20px 10px
    box-sizing border-box
    text-align center
    overflow hidden
    position relative
    z-index 1
    &:before
      content ''
      display block
      height 100%
      width 100%
      border-radius 50px
      z-index 0
      position absolute
      background c-2
      opacity 0.8
      top 66px
      left 0
      right 0
      transition-all()

  &__img
    position relative
    width 80px
    height 80px
    display inline-block
    margin-bottom 10px
    font-size 0
    z-index 1
    &:before
      content ''
      display block
      width 100%
      height 100%
      position absolute
      z-index 0
      background c-2
      opacity 0.1
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      border-radius 50%
      transition-all()
    img
      position relative
      z-index 1
      max-width 100%
      height auto
  &__texto
    font-family t-0d
    font-size 12px
    color c-1
    text-transform uppercase
    position relative
    z-index 1
    margin-bottom 0
  &__desc
    display -webkit-box
    position relative
    z-index 1
    font-size 10px
    color c-1
    font-family t-0c
    -webkit-line-clamp 4
    -webkit-box-orient vertical
    transition-all()

