// creditos
.footer
	box-sizing border-box
	font-family t-0
	position relative

.footer-top
	padding 25px 0 27px
	background c-2

.footer-bottom
	background c-2
	padding 18px 0
	.footer-cnt
		display flex
		align-items flex-start
		justify-content space-between

.footer-info
	display flex
	justify-content space-between
	align-items center

.footer-cnt-item
	display flex
	align-items flex-start
	width 74%
	margin-left 5%
	flex-wrap wrap
	justify-content space-between

.footer-item
	text-align left
	flex-wrap wrap
	color c-1
	margin-top 6px
	flex-wrap wrap
	width 18.05%
	&.i2
		width 20.7%
	&.i3
		width 25.18%
	&.i4
		width 14.25%

.footer-item-title
	h3
		font-size 16px
		font-family t-1c
		color c-1
		text-transform uppercase
		margin-bottom 15px

.footer-item-detail
	font-size 14px
	p
		margin 0

.footer-copy
	font-size 14px
	color c-1
	background c-0
	padding 13px 0
	.link-jr
		font-size 0
	p
		margin 0
	.footer-cnt
		display flex
		align-items center
		justify-content space-between

.footer-copy-left,.footer-copy-right
	width 50%

.footer-redes
	font-size 0
	margin 0
	li
		display inline-block
		margin-left 15px
		a
			display inline-block
			text-align center
			font-size 0
			&:before
				font-size 19px
				font-family icomoon
				transition-all()
			@media screen and (min-width $medium)
				&:hover
					&:before
						color c-3

		&:first-child
			margin-left 0

.footer-copy-right
	text-align right
	p,a
		display inline-block
		vertical-align middle
	p
		font-size 14px
		margin-right 5px


.footer-cnt-logo
	width 21%
	padding-right 10px
	position relative
.footer-logo
	max-width 200px
.footer-logo img
	display block
	max-width 100%
	height auto
	margin 0 0 17px

@media screen and (max-width $large)
	.footer-cnt-logo
		display none

	.footer-item
		width 25%
		margin 0

	.footer-cnt-item
		width 100%
		margin-left 0

	.footer-info
		flex-wrap wrap
		justify-content center
		.g-title
			text-align center
			margin-bottom 30px


	.footer-item-title h2
		font-size 14px

	.footer-item-detail
		font-size 14px

	.footer-top, .footer-cnt-item
		padding 20px 0

@media screen and (max-width $medium)
	.footer-cnt-item
		flex-wrap wrap
		justify-content center

	.footer-item
		width 50%
		margin-bottom 25px
		text-align center
		&:last-child
			margin-bottom 0
		&:nth-child(3)
			margin-bottom 0
		&.i2,&.i3,&.i4
			width 50%

	.footer-redes li a:before
		font-size 14px

	.footer-item-title h2
		margin-bottom 10px

	.footer-cnt-item
		padding 0

	.footer-copy-left,.footer-copy-right
		width 50%
	.footer-copy
		.footer-cnt
			display block
			text-align center
	.footer-copy-left
		margin-bottom 5px
		display none
	.footer-copy-left,.footer-copy-right
		width 100%
		text-align center

@media screen and (max-width $small)

	.footer-item
		width 100%
		margin-bottom 15px
		&.i2,&.i3
			width 100%
		&.i4
			display none

	.footer-item-title h2
		display none

	.footer-copy-right
		a
			width 70px
			display inline-block
			vertical-align middle
			img
				display block
				width 100%
				height auto
	.footer-btn
		margin-top 15px

	.footer-info
		.g-title strong:before
			display none
