.g-field
	width 100%
	font-size 0
	.g-field__left,
	.g-field__right
		width 30%
	.g-field__left
		text-align left
	.g-field__center
		width 40%
		margin-left 10px
		margin-right 10px
		text-align center
	.g-field__right
		text-align right
	&--two-cols
		font-size 0
		.g-field__left,
		.g-field__right
			width 50%
		.g-field__left
			margin-right 10px
		.g-field__right
			margin-left 10px

.c-input,
.c-textarea
	width 100%
	border-radius 20px
	margin auto
	text-align center
	margin-bottom 10px
	display block
	position relative
	.c-label
		transition-all()
		font-size 11px
		font-family t-0d
		color c-0a
		display block
		position absolute
		top 5px
		left 12px
		opacity 0
		// visibility hidden
		z-index 1
		transform translateY(-5px)
	input,select,textarea
		transition-all()
		border 1px solid c-0b
		position relative
		z-index 0
		border-radius 20px
		width 100%
		display block
		color c-0b
		font-size 16px
		// height 40px
		// padding 10px 12px 9px
		box-sizing border-box
		background c-1
		font-family t-0
		appearance none
		text-align left
		&:focus
			border 1px solid c-0a
			color c-0a
		&:disabled
			border 1px solid c-0c
			color c-0c
	&.active
		.c-label
			transform translateY(0)
			opacity 1
			// visibility visible
		input,select,textarea
			border 1px solid c-0a
			color c-0a
			&:disabled
				border 1px solid c-0c
				color c-0c
		&.disabled
			.c-label
				color c-0c
	&.error
		.c-label
			transform translateY(0)
			opacity 1
			// visibility visible
			color c-8
		input,select,textarea

			border 1px solid c-8
			color c-8
.c-textarea
	.c-label
		top 10px
	textarea
		min-height 150px
		padding 15px 12px 9px
	&.active
		textarea
			padding 23px 12px 3px
	&.error
		textarea
			padding 23px 12px 3px
.c-input
	.c-label
		top 5px
	span
		font-size 14px
		height 14px
		color c-0a
		display block
		position absolute
		left 20px
		top 0
		bottom 0
		margin auto

	input,select
		height 40px
		padding 10px 12px 9px

	input[type="date"],
	input[type="month"],
	select
		&+i
			position absolute
			pointer-events none
			font-style normal
			top 0
			bottom 0
			right 0
			display inline-block
			line-height 42px
			width 42px
			text-align center
			color c-5
			&:after
				display block
				font-size 24px
				font-family icomoon
	select
		&+i
			&:after
				content '\e905'
	input[type="date"],
	input[type="month"]
		&::-webkit-inner-spin-button,
		&::-webkit-clear-button
			display none
		&::-webkit-calendar-picker-indicator
			color transparent
			background transparent
			position absolute
			top 0
			bottom 0
			right 0
			font-size 42px
			line-height 42px
		&+i
			&:after
				content '\e911'

	&.active
		input,select
			padding 16px 12px 3px
		&.disabled
			.c-label
				color c-0c
	&.error
		.c-label
			transform translateY(0)
			opacity 1
			visibility visible
			color c-8
		input,select
			padding 16px 12px 3px
			border 1px solid c-8
			color c-8

@media screen and (max-width $small)
	.g-field
		.g-field__left,
		.g-field__center,
		.g-field__right
			width 100%
			text-align center
		.g-field__center
			margin-right auto
			margin-left auto
		&--two-cols
			.g-field__left,
			.g-field__right
				width 100%
				margin-right auto
				margin-left auto
