.c-menu-context
  position absolute
  top calc(100% + 5px)
  right 0
  width 340px
  border-radius 15px
  z-index 1
  padding 10px
  background c-1
  box-shadow 0px 2px 2px rgba(0, 0, 0, 0.25)
  visibility hidden
  opacity 0
  transition-all()
  &.is-active
    visibility visible
    opacity 1
  &__item
    border-bottom 1px solid c-7
    padding-bottom 5px
    padding-top 5px

    &:last-child
      padding-bottom 0
      border-bottom 0
    &:first-child
      padding-top 0
    &__link
      padding 5px
      border-radius 10px
      cursor pointer
      user-select none

      &:hover
        background c-7
    &__icon
      width 24px
      font-size 24px
    &__text
      width calc(100% - 34px)
      margin-left 10px
    &__title
      font-family t-1b
      font-size 16px
      margin-bottom 2px
    &__description
      font-family t-1
      font-size 14px
