.menu
  position relative
  &:before
    position absolute
    content ''
    width 1920px
    height 100%
    background c-3
    left 99%
    transition-all()
.menu-wrap
  text-align center
  transition-all()
  margin-left 20px

.menu-helper
  font-size 0
.menu-wrap
  background c-3
  border-radius 40px 0 0 40px

  .menu-item
    font-size 0
    position relative
    z-index 1
    a
      font-size 16px
      font-family t-0c
      padding 12px 18px 10px 10px
      box-sizing border-box
      color c-1
      cursor pointer
      position relative
      display inline-block
      transition-all()
      z-index 1
      &.active, &:hover
        font-weight normal
    &:first-child
      a
        padding-left 30px

.menu-mobile-close, .menu-mobile-open
  cursor pointer
  position fixed
  right 5px
  top 5px
  transition-all()
  transform rotate(0deg)
.menu-mobile-open
  opacity 1
  visibility hidden
  // z-index 53
  z-index 5
  &.is-scrolling
    opacity 1
  &:hover
    opacity 1
  &.active
    visibility hidden
    opacity 0
    // right 220px
    transform translateX(-200px)
    z-index 51
    transform rotate(-90deg)
.menu-mobile-close
  visibility hidden
  opacity 0
  z-index 52
  background c-1
  color c-2
  &.active
    visibility visible
    opacity 1
    z-index 52
    transform translateX(-200px) rotate(-90deg)

// Menu responsive
.menu-logo
  box-sizing border-box
  display block
  img
    display block
    width 100%
    max-width 92px
    height auto

.menu-overlay
  position fixed
  top 0
  left 0
  background-color black
  // z-index -1
  visibility hidden
  width 100%
  height 100%
  opacity 0
  cursor pointer
  transition-all()
  z-index 51
  &.active
    opacity 0.8
    visibility visible

.menu-sidebar
  width 200px
  height 100%
  overflow auto
  position fixed
  top 0
  right -200px
  transform translateX(0px)
  border-radius 25px 0 0 25px
  background c-1
  z-index 53
  transition-all()
  &.active
    transform translateX(-200px)
  .menu-list
    padding-left 10px
    box-sizing border-box
    .menu-item
      line-height 28px
      font-size 16px
      margin-bottom 5px
      width 100%
      a
        display block
        font-family t-0
        padding 10px 15px
        font-size 16px
        line-height 20px
        box-sizing border-box
        border-width 1px 0 1px 1px
        border-style solid
        border-color c-7a
        border-radius 20px 0 0 20px
        &:hover, &.active
          background-color c-2
          color c-1
          border-color c-2
  .footer-redes
    background c-0
    margin-top 10px
    padding 15px
    .footer-redes__text
      color c-1
      font-size 12px
      font-family t-0
      line-height 14px
      text-align-last left
      margin-bottom 8px
      em
        font-style normal
    li
      margin-right 10px
      margin-left 0
      a
        &:before
          color c-1
          font-size 24px

.menu-sidebar-cnt
  padding 10px 0

.menu-helper-item
  font-size 0
  display inline-block
  vertical-align middle
  margin-left 10px
  &.button-tel
    display none
    &:before
      animation animationFrames 2s infinite
      display inline-block
.menu-touchslide
  position fixed
  height 100%
  width 20px
  right 0
  top 0
  bottom 0
  z-index 51
  margin auto
.touch
  touch-action none
  user-select none

@media screen and (max-width $large)
  .menu
    &:before
      display none
  .menu-wrap
    border 0
    background transparent
    display none
    .menu-list
      display none
  .menu-helper
    padding-right 50px
  .menu-mobile-open
    visibility visible
    &.is-scrolling
      filter drop-shadow(0 0 5px rgba(0, 0, 0, 0.75));
  .menu-mobile-close, .menu-mobile-open
    top 11px
    right 15px

@media screen and (max-width $small)
  .menu-mobile-close, .menu-mobile-open
    top 11px
    right 10px
  .menu-helper-item
    margin-left 5px
