//Overlay
.g-popup-overlay
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    background c-0
    // z-index -1
    opacity 0
    visibility hidden
    transition-all()
    z-index 53
    cursor pointer
    &.active
        opacity .8
        visibility visible

// Popup
.g-popup
    position fixed
    width 95%
    height 95%
    padding-top 17px
    box-sizing border-box
    max-width 400px
    max-height 515px
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    // z-index -1
    opacity 0
    transform translateY(-200px)
    visibility hidden
    transition-all()
    z-index 53
    &.active
        transform translateY(0)
        opacity 1
        visibility visible

.g-popup-cnt
    display flex
    align-items center
    justify-content center
    width 100%
    height 100%

.g-popup-inner
    // max-height 94%
    position relative
    // width 94%
    background c-1
    border-radius 20px
    width 100%
    height 100%

.g-popup-close
    position absolute
    top 17px
    right 10px
    cursor pointer
    z-index 2
.g-popup-header
    padding 13px 55px 13px 15px
    position relative
    box-sizing border-box
    background c-2
    display flex
    align-items center
    border-radius 20px 20px 0 0

.g-popup-icon
    max-width 45px
    font-size 0
    margin-right 10px
    img
        max-width 100%
        height auto
.g-popup-title
    text-align left
    margin-bottom 0
    em,
    strong
        display block
        color c-1
    em
        font-family t-0b
        font-size 19px
        margin-bottom 5px
    strong
        font-family t-0d
        font-size 24px

.g-popup-scroll-user
    overflow auto
    height calc(100% - 78px)
    display flex
    align-items center

.g-popup-content
    padding 30px 10px 10px
    max-width 320px
    width 100%
    margin auto
    text-align center
    box-sizing border-box

@media screen and (max-width $xsmall)
    .g-popup-title
        em
            font-size 14px
        strong
            font-size 20px


