.c-post-card
  &__top
    width 100%
    height 142px
    position relative
    background-color c-1
    border-radius 25px 25px 0 0
    overflow hidden
    display block
    z-index 1

  &__img
    width 100%
    height 100%
    background-position center center
    background-size cover
    background-repeat no-repeat
    position relative
    border-radius 25px 25px 0 0
    overflow hidden
    z-index 1
    img
      position absolute
      left -480px
      right -480px
      height 100%
      width auto
      margin auto
      top 0
      bottom 0
      z-index -1
  &__bottom
    position relative
    height 108px
    background c-2
    margin-top -22px
    border-radius 25px
    padding 12px 15px
    box-sizing border-box
    display block
    z-index 2
  &__categoria
    font-size 12px
    line-height 100%
    text-transform uppercase
    font-family t-0b
    margin-bottom 5px
  &__title
    font-size 16px
    height 16px
    color c-1
    line-height 100%
    font-family t-0d
    position relative
    margin-bottom 5px
  &__desc
    font-size 12px
    position relative
    font-family t-0
    height 42px
    -webkit-line-clamp 3
    -webkit-box-orient vertical

  &__fecha
    font-size 12px
    font-family t-0b
    position absolute
    z-index 1
    color c-0a
    left 0
    bottom 0
    padding 7px 15px 25px
    border-radius 25px 25px 0 0
    box-sizing border-box
    background-t(c-1,.9)

  &__categoria,
  &__desc
    display -webkit-box
    color c-1
