.c-proceso
  position relative
  text-align center
  max-width 200px
  display inline-block
  margin-right 20px
  &:last-child
    margin-right 0
  &__number
    width 24px
    height 24px
    display block
    line-height 24px
    text-align center
    font-size 16px
    color c-2
    background c-7a
    border 1px solid c-2
    border-radius 50%
    margin auto
    margin-bottom 6px
    font-family t-1c
  &__image
    text-align center
    font-size 0
    margin-bottom 12px
    img
      max-width 100%
      height auto
  &__nombre
    display block
    font-size 19px
    line-height 1
    text-transform uppercase
    text-align center
    color c-2
    font-family t-1c
    margin-bottom 0

@media screen and (max-width $large)
  .c-proceso
    margin-left 20px
    margin-right 20px
    margin-bottom 20px
    &:last-child
      margin-right 20px
@media screen and (max-width $xsmall)
  .c-proceso
    max-width calc(50% - 40px)
