.c-proyecto-card
  &__protitipo
    display block
    position absolute
    top 0
    left 10px
    bottom 0
    z-index 2
    margin auto
    box-sizing border-box
    border 5px solid c-0
    border-radius 15px
    height 226px
    width 110px
    overflow hidden
    font-size 0
    em
      font-size 0
    img
      background c-7
      display block
      width 100%
      height auto
  &__top
    display flex
    flex-wrap wrap
    align-content flex-end
    z-index 0
    height 180px
    width 100%
    padding 5px 15px 30px 130px
    box-sizing border-box
    position relative
    background c-1
    border-radius 25px 25px 0 0
  &__categoria
    font-size 12px
    text-transform uppercase
    font-family t-0b
    color c-1
    text-align-last left
    margin-bottom 3px
    width calc(100% - 35px)
  &__cliente-logo
    text-align left
    filter grayscale(100%)
    font-size 0
    border-radius 50%
    width 75px
    height 75px
    padding 6px
    box-sizing border-box
    overflow hidden
    background c-1
    margin-bottom 12px
    img
      margin-left 0
      max-width 100%
      height auto
  &__bottom
    display block
    position relative
    z-index 1
    height 81px
    overflow hidden
    background c-1
    border-radius 25px
    margin-top -22px
    padding 10px 15px 10px 130px
    box-sizing border-box
  &__razonsocial
    color c-1
    font-family t-0d0
    font-size 16px
    line-height 100%
    margin-bottom 1px
  &__desc
    font-size 12px
    line-height 14px
    height 57px
    color c-0
    font-family t-0
    position relative
    display -webkit-box
    -webkit-line-clamp 4
    -webkit-box-orient vertical
