.c-tecnologia
  position relative
  max-width 100px
  text-align center
  display inline-block
  vertical-align top
  padding 5px 0px 5px 20px
  &__nombre
    text-transform uppercase
    color c-0a
    font-family t-1b
    font-size 12px
    position relative
  &__imagen
    width 70px
    height 70px
    margin auto
    border-radius 50%
    background c-7
    font-size 0
    position relative
    &:before
      content ''
      display block
      position absolute
      bottom 0
      top 0
      right 100%
      margin auto
      width 20px
      height 1px
      border 1px dashed c-7
      box-sizing border-box
    img
      width 100%
      height auto
