
//Title banner
.g-title
  display block
  text-align left
  max-width 550px
  padding-top 40px
  width 100%
  position relative
  font-weight normal
  z-index 2
  font-size 0
  &.g-title--large
    .g-title__text__t1
      font-size 32px
      line-height 35px
    .g-title__text__t2
      font-size 50px
      line-height 57px
  &.g-title--medium
    align-items center
    padding-left 10px
    box-sizing border-box
    &:before
      content ''
      display block
      height 1px
      width 1920px
      position absolute
      right 100%
      top 0
      bottom 0
      margin auto
      background c-0b
      background c-7
    .g-title__text,
    .g-title__icon
      display inline-block
      vertical-align middle
    .g-title__icon
      width 66px
      margin-right 10px
      font-size 0
      img
        max-width 100%
        height auto

    .g-title__text__t1
      font-size 32px
      line-height 1
    .g-title__text__t2
      font-size 40px
      line-height 1
  &.g-title--small
    margin-bottom 20px
    padding-top 0
    .g-title__text__t1
      font-size 26px
      line-height 26px
    .g-title__text__t2
      font-size 32px
      line-height 32px
  &.has-icon
    .g-title__text
      width calc(100% - 76px)
    .g-title__controls
      padding-left 76px
.g-title__text
  position relative
  z-index 2
  margin-bottom 0
  margin-top 0
  font-weight normal

.g-title__text__t1
  color c-0
  font-family t-1
.g-title__text__t2
  color c-0
  font-family t-1c
.g-title__text__t3
  font-size 14px
  line-height 16px
  font-family t-1
  text-transform uppercase
  color c-2

.g-title__controls
  margin-top 7px
  position relative
  font-size 0
  z-index 1
  .g-boton,
  .g-circle-button
    margin-right 10px

@media screen and (max-width $small)
  // title banner
  .g-title
    max-width 100%
    &.g-title--large
      .g-title__text__t1
        font-size 20px
        line-height 21px
      .g-title__text__t2
        font-size 36px
        line-height 41px
    &.g-title--medium
      .g-title__controls
        text-align right
    &.g-title--small
      .g-title__text__t1
        font-size 20px
      .g-title__text__t2
        font-size 26px

  .g-title__text__t3
    font-size 11px
    line-height 14px

@media screen and (max-width $xsmall)

  .g-title
    text-align center
    margin-left auto
    margin-right auto

    &.g-title--medium
      margin-left 0
      text-align left
      .g-title__text__t1
        font-size 20px
        line-height 20px
      .g-title__text__t2
        font-size 28px
        line-height 28px
  .g-title__text
    width 100%
