.g-title-section
    padding 4px 20px 4px 47px
    display inline-block
    background c-1
    filter drop-shadow(0 5px 3px rgba(0, 0, 0, 0.2));
    border-radius 0 22px 22px 0
    position relative
    margin-bottom 20px
    font-weight normal
    box-sizing border-box
    border-width 1px 1px 1px 0
    border-color c-2
    border-style solid
    position relative
    z-index 1
    &:before
        content ''
        display block
        position absolute
        right 99%
        top 0
        bottom 0
        width 1920px
        background c-1
        border-width 1px 0px
        border-color c-2
        border-style solid
        height 100%
        margin auto
.gts-icon
    position absolute
    display block
    left 0
    top -40px
    bottom -40px
    height 50px
    line-height 50px
    margin auto
    font-size 44px
    color c-2
.gts-text
    em
        font-family t-1
        font-size 16px
        color c-0
        display block
        width 100%

@media screen and (max-width $xsmall)
    .gts-icon
        font-size 40px