//Breakpoints maxw
$xsmall =  575.98px
$small =  767.98px
$medium = 991.98px
$large = 1199.98px
$xlarge = 1919.98px

// Colors idendity
c-0 = black
c-0a = #1F2D36 // [admin] hover link
c-0b = #576268 // [admin] button shadow outhover link
c-0c = #8F969B // [admin] button shadow in hover link
c-0d = #C7CBCD // [admin] button shadow in hover link

c-1 = white

c-2 = #2C87AB
c-3 = black

c-7 = #E6E7E9
c-7a = #F8F8F8
c-8 = #F41010
c-9 = #35a617


// Fonts
t-0 = 'Raleway-Regular',sans-serif
t-0a = 'Raleway-Thin',sans-serif // not use
t-0b = 'Raleway-Light',sans-serif
t-0b0= 'Raleway-ExtraLight',sans-serif // not use
t-0c = 'Raleway-Medium',sans-serif
t-0d = 'Raleway-Bold',sans-serif
t-0d0 = 'Raleway-SemiBold',sans-serif
t-0d1 = 'Raleway-ExtraBold', sans-serif // not use
t-0e = 'Raleway-Black', sans-serif // not use


t-1 = 'Gilroy-Regular', sans-serif
t-1a = 'Gilroy-Light', sans-serif
t-1b = 'Gilroy-Medium', sans-serif
t-1c = 'Gilroy-Bold', sans-serif
t-1d = 'Gilroy-ExtraBold', sans-serif // not use
t-1e = 'Gilroy-Heavy', sans-serif // not use
t-1f = 'Gilroy-Black', sans-serif // not use

icomoon = 'icomoon'

// Mixins
placeholder(color, famyli) {
	::-webkit-input-placeholder { /* WebKit */
		color: color;
		font-family: famyli;
	} /* WebKit */

	:-moz-placeholder { /* Firefox 18- */
		color: color;
		font-family: famyli;
	} /* Firefox 18- */

	::-moz-placeholder { /* Firefox 19+ */
		color: color;
		font-family: famyli;
	} /* Firefox 19+ */

	:-ms-input-placeholder { /* IE 10+ */
		color: color;
		font-family: famyli;
	} /* IE 10+ */
}

transition-all() {
	transition: all .2s cubic-bezier(.25,.8,.25,1);
	// transition: all 350ms cubic-bezier(.4,0,.2,1);
}

cf() {
	zoom: 1;

	&:after, &:before {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}

.cf {
	cf();
}

backgroundsize() {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

img-res() {
	width: 100%;
	height: auto;
	display: block;
}

background-t(color, alpha = 1) {
	ms-color = argb(color, alpha);
	background: rgba(color, alpha);
	zoom: 1;
	filter: s('progid:DXImageTransform.Microsoft.gradient(startColorstr=%s,endColorstr=%s)', ms-color, ms-color) !important;
}

hex(decimal) {
	hex-value = '0' '1' '2' '3' '4' '5' '6' '7' '8' '9' 'A' 'B' 'C' 'D' 'E' 'F';
	unquote(hex-value[floor((decimal / 16))] + hex-value[floor(decimal % 16)]);
}

argb(color, alpha = 1) {
	unquote('#') + hex(alpha * 255) + hex(red(color)) + hex(green(color)) + hex(blue(color));
}
