.home
  .c-slider.c-slider--theme-02
    max-width 720px

.home-slider-t0
  .gbp-imagen,
  .g-title,
  .gbp-bg
    transition all 3s cubic-bezier(0.25, 0.8, 0.25, 1)
  .gbp-bg
    background-position 50px center
    transform scale(1.25)
  .g-title
    transform translateY(-30px)
    opacity 0
  .gbp-imagen
    transform translateY(60px)
  .g-title__text__t2
    color c-2

.hs-item-t0
  &.slick-active
    .gbp-bg
      background-position 0px 0
      transform scale(1)
    .g-title,
    .gbp-imagen
      transform translateY(0px)
    .g-title
      opacity 1


.home-wizard-news
  background-color c-7
  background-position center center
  background-size cover
  background-repeat no-repeat
  background-image url(../media/app/06.jpg)
  padding-bottom 40px
  position relative
  z-index 2
  .g-title-section
    margin-top -20px
.hwn-inner
  display flex
.home-wizard
  width 100%
  max-width 592px

.hw-content-steps
  position relative

.hw-step
  box-sizing border-box
  display block
  top 0
  left 0
  bottom 0
  right 0
  margin auto
  min-height 250px
  width 100%
  position absolute
  z-index 0
  padding-left 10px
  transform translateX(-100%)
  opacity 0
  transition-all()
  &.active
    position relative
    opacity 1
    z-index 1
    transform translateX(0)

.hws-step-inner
  padding 10px 10px 10px 0
  font-size 0
  &.hws-step-inner--mw
    max-width 550px
    margin auto

.hw-step-top
  margin-bottom 5px
.hw-step-right,
.hw-step-left
  display inline-block
  vertical-align top
.hw-step-left
  width 160px
  text-align center
  .c-elipse-card
    margin-bottom 5px
.hw-step-right
  width calc(100% - 175px)
  margin-left 15px
  text-align left
.hw-step-img
  max-width 192px
  margin auto
  margin-bottom 15px
  img
    max-width 100%
    height auto

.hws-form-user
  max-width 360px
  display inline-block
  width 100%

.home-news
  background c-0
  display flex
  box-sizing border-box
  border-radius 40px 0 0 40px
  width calc(100% - 592px)
  position relative
  text-align center
  padding-bottom 75px
  &:before
    content ''
    display block
    width 1920px
    height 100%
    background c-0
    position absolute
    left 99%
    top 0
    bottom 0
    margin auto
    z-index 0

.hn-texto
  display block
  padding 20px
  max-width 300px
  margin auto
  position relative
  z-index 1
  em,
  strong
    display block
    color c-1
  em
    font-size 28px
    font-family t-1b
  strong
    font-size 45px
    font-family t-1c

.hn-controls
  padding 15px
  box-sizing border-box
  width 100%
  display block
  background c-1
  position absolute
  border-radius 0 0 0 40px
  bottom 0
  left 0
  &:before
    content ''
    display block
    width 1920px
    height 100%
    background c-1
    position absolute
    left 99%
    top 0
    bottom 0
    margin auto

@media screen and (max-width $large)
  .home-wizard
    max-width 480px
  .home-news
    width calc(100% - 480px)
  .hn-texto
    em
      font-size 18px
      line-height 20px
    strong
      font-size 35px
      line-height 38px

@media screen and (max-width $medium)
  .home-wizard
    max-width 430px
  .home-news
    width calc(100% - 430px)

@media screen and (max-width $small)
  .home
    .c-slider.c-slider--theme-02
      max-width 410px

  .home-wizard-news
    overflow hidden
    padding-top 20px
    .g-title-section
      margin-top auto

  .home-wizard
    max-width 370px
  .home-news
    width calc(100% - 370px)

  .hw-step.sl
    padding-left 0
    .hw-step-top
      padding 0 10px

  .hws-form-user
    max-width 100%

@media screen and (max-width $xsmall)
  .home
    .c-slider.c-slider--theme-02
      max-width 100%

  .hw-step-left
    display none
  .hw-step-right
    width 100%
    margin-left auto

  .home-wizard,
  .home-news
    width 100%
    max-width 100%
  .home-wizard
    margin-bottom 15px
  .home-news,
  .hn-controls
    border-radius 0
