.mantenimiento
	height calc(100vh - 46px)
	min-height 480px
	display flex
	align-items center
	overflow hidden
	background-position center center
	background-size cover
	position relative
	&:before
		content ''
		display block
		height 100%
		width 100%
		position absolute
		top 0
		left 0
		bottom 0
		right 0
		background c-1
		opacity 0.55
		z-index 1
	.gi3d-scene3d
		filter drop-shadow(0px 0px 5px rgba(0,0,0,.5))
.mant
	width 100%
	position relative
	z-index 1
.inner-mant
	font-size 0
	text-align center
.mant-update
	display none
	margin-bottom 25px
	text-align left
.mant-cnt-logo
	// display flex
	height 480px
	// align-items center
	// justify-content center
.mant-logo
	position relative
	margin-bottom 25px
	z-index 1
	img
		max-width 100%
		height auto
	// img,
	// object
	//     height 122px
.mant-left,
.mant-right
	display inline-block
	vertical-align top
.mant-left
	width 320px
	padding-top 25px
	text-align center
	position relative
.mant-right
	padding-top 50px
	width calc(95% - 320px)
	max-width 600px
	margin-left 5%

.mant-imagenintro
	display none
	margin auto
	margin-top 10px
	max-width 300px
	text-align center
	position relative
	z-index 0
	img
		max-width 100%
		display block
		height auto
		opacity 0
		animation scaleImg 8s infinite linear
		transform-origin 50% 0

.mant-actions,
.mant-countdown,
.mant-social
	text-align left
	display block
.mant-social
	font-size 20px
	margin-bottom 25px
	em
		font-family t-0
.mant-item-cd
	display inline-block
	vertical-align top
	margin-left 10px
	width 125px
	&:first-child
		margin-left 0
	span
		display block
		padding 5px 10px 0
		box-sizing border-box
		background c-0
		color c-1
		font-family t-1b
		font-size 15px
		line-height 20px
		text-align center
		border-radius 25px 25px 0 0
	strong
		display block
		border 5px solid c-0
		color c-2
		background c-1
		text-align center
		padding 5px 10px 10px
		box-sizing border-box
		font-size 70px
		line-height 70px
		font-family t-1c
		border-radius 0 0 25px 25px
.mant-title
	text-align left
	margin-bottom 40px
	color c-5
	em,strong,span
		display block
	span
		font-family t-1a
		font-size 20px
		line-height 24px
		color c-0
	em
		font-size 30px
		line-height 25px
		font-family t-1
		margin-bottom 0
	strong
		font-size 50px
		font-family t-1c
		line-height 50px
		margin-bottom 10px 
.mant-countdown
	margin-bottom 25px
.mant-cinta
	display block
	height (100vh)
	position absolute
	width 100%
	z-index 1
	border-radius 50px
	&.t
		bottom calc(100% - 25px)
		background transparent
		transform-origin 50% 100%
		display flex
		align-items flex-end
	&.b
		top calc(100% - 25px)
		background transparent
		transform-origin 50% 0%
@media screen and (max-width $medium)
	.mant-cnt-logo
		.gi3d-scene3d
			transform scale(.6)
@media screen and (max-width $medium)
	.mant-item-cd
		width 95px
		span
			font-size 12px
			line-height 15px
		strong
			font-size 50px
			line-height 50px
			padding 10px
@media screen and (max-width $medium)
	.inner-mant
		padding 20px 0 40px
	.mant-cnt-logo
		height auto
		position relative
		.gi3d-scene3d
			position absolute
			top -150px
			bottom -150px
			left 0
			right 0
			margin auto
			transform scale(.5)
			opacity 0.4
	.mant-logo
		margin-bottom 0
	.mant-left,
	.mant-right
		width 100%
		margin auto
	.mant-left
		margin-bottom 20px
		padding-top 0px
	.mant-right
		padding-top 0
	.mant-update
		text-align center
	.mant-imagenintro,
	.mant-cinta
		&.b
			display none
		&.t
			display none
	.mant-actions,
	.mant-countdown,
	.mant-social,
	.mant-title,
	.mant-acciones
		text-align center
@media screen and (max-width $small)
	// .mant-logo
	//     max-width 150px
	//     margin auto
	.mant-title
		margin-bottom 20px
		em
			font-size 18px
		strong
			font-size 34px
			line-height 34px
		span
			font-size 14px
			line-height 14px
	.mant-item-cd
		width 23%
		margin-left 2%
		max-width 80px
		span
			font-size 10px
			line-height 12px
			padding 3px 3px 0
			margin-bottom -1px
		strong
			font-size 30px
			line-height 30px
			padding 10px
	.mant-social
		font-size 15px
		margin-bottom 10px
	.mant-countdown
		margin-bottom 15px

@media screen and (max-width $xsmall)
	.mant-left
		margin-bottom 10px
		.mant-cnt-logo
			.gi3d-scene3d
				transform scale(0.4)
	.mant-logo
		margin auto
		max-width 230px