.nosotros-historia-slider
    &:after
        content ''
        position absolute
        bottom 0
        right 0
        left 0
        height 100px
        background c-7a
        width 100%
        z-index 0
    .slick-dots
        bottom 40px
.nhs-top
    padding-top 40px
    text-align center
    position relative
    z-index 0
.nhs-image
    max-width 260px
    display inline-block
    font-size 0
    position relative
    &:before
        display block
        position absolute
        font-size 450px
        line-height 450px
        top 0
        left -100px
        right -100px
        color c-2
        opacity 0.2
        z-index 0
    img
        max-width 100%
        position relative
        height auto
        z-index 1
.nhs-bottom
    padding 30px 0 70px
    background c-7a
    position relative
    z-index 1
    min-height 250px
    box-sizing border-box
    .g-section__texto
        margin auto
        max-width 480px

@media screen and (max-width $small)
    .nhs-image
        &:before
            font-size 370px
            line-height 370px

@media screen and (max-width $xsmall)
    .nhs-image
        &:before
            font-size 320px
