.proyecto-contenido
  .g-section.g-section--theme-content
    &.is-alternate
      .g-section__texto
        background-t(c-1, alpha = 0.30);
        &:before
          background-t(c-1, alpha = 0.30);
        h3,h2
        p,
        strong
          color c-1

.ptec-inner
  &:after
    content ''
    display block
    width 49%
    height 30px
    position absolute
    bottom 0
    left 0

.ptec-lista-tecnologias
  border-left 3px solid c-7

