
.g-section
  position relative
  &__inner
    &.has-small-spaces
      padding 10px 0
    &.has-medium-spaces
      padding 40px 0
    &.has-large-spaces
      padding 80px 0
  &__texto
    box-sizing border-box
    text-align left
    margin-bottom 20px
    position relative
    z-index 1
    &--middle
      margin-right 1%
      width 49%
      @media screen and (max-width $small)
        width 100%
        margin-right auto
    h3,h2
      font-family t-1c
      font-size 22px
      margin-bottom 10px
      color c-2
    p,
    strong,
    ol,
    li
      font-size 16px
      color c-0b
    p,
    li
      font-family t-0
      line-height 24px
      &:last-child
        margin-bottom 0
    li,
    p
      margin-bottom 12px
    strong
      font-family t-0d
    a:not(.g-boton)
      font-family t-0d
      color c-2
      &:hover
        text-decoration underline
  &__image
    font-size 0
    z-index 1
    &--middle
      margin-left 1%
      width 49%
      @media screen and (max-width $small)
        width 100%
        margin-left auto
    img
      max-width 100%
      height auto
  &--theme-landing
    & ^[0]__image
      position absolute
      bottom 0
      left calc(50% + 180px)
      width 100%
      max-width 450px
      z-index 0
  &--theme-content
    & ^[0]__image
      text-align center
    & ^[0]__texto
      background c-7a
      padding 20px
      border-radius 0 25px 25px 0
      margin-bottom 0
      &:before
        content ''
        display block
        background c-7a
        position absolute
        top 0
        bottom 0
        right 99%
        height 100%
        width 1920px
    &.is-alternate
      background c-7a
      & ^[0]__image
        margin-left 1%
        margin-right auto
        @media screen and (max-width $small)
          margin-left auto
      & ^[0]__texto
        margin-right 1%
        margin-left auto
        text-align left
        background-t(c-1, alpha = 0.6)
        border-radius 25px 0 0 25px
        @media screen and (max-width $small)
          margin-right auto
        &:before
          left 99.999999%
          right initial
          background-t(c-1, alpha = 0.6);
  &.has-background-color
    background-color c-7a
  &.is-full-screen
    min-height calc(100vh - 233px)
  &.has-background
    background-position center center
    background-size cover
    background-repeat no-repeat
    background-color c-7a
    &:before
      content ''
      display block
      position absolute
      width 100%
      height 100%
      background c-7
      opacity 0.5
      left 0
      top 0
      bottom 0
      margin auto
      z-index 0
    &--is-white
      &:before
        background c-1
        opacity 0.7

.u
  &-ws
    &-nw
      white-space nowrap
  &-tx
    &-al
      &-ce
        text-align center
    &-ov
      &-el
        text-overflow ellipsis
        overflow hidden
  &-hide
    display none !important
    &-xs
      @media screen and (max-width $xsmall)
        display none !important
    &-sm
      @media screen and (max-width $small)
        display none !important
    &-md
      @media screen and (max-width $medium)
        display none !important
    &-lg
      @media screen and (max-width $large)
        display none !important
    &-xlg
      @media screen and (max-width $xlarge)
        display none !important
  &-show
    display block !important
    &-inline
      display inline-block !important
    &-xs
        &-inline
          @media screen and (max-width $xsmall)
            display inline-block !important
      @media screen and (max-width $xsmall)
        display block !important
    &-sm
        &-inline
            @media screen and (max-width $small)
              display inline-block !important
      @media screen and (max-width $small)
        display block !important
    &-md
      &-inline
          @media screen and (max-width $medium)
            display inline-block !important
      @media screen and (max-width $medium)
        display block !important
    &-lg
        &-inline
            @media screen and (max-width $large)
              display inline-block !important
      @media screen and (max-width $large)
        display block !important
    &-xlg
        &-inline
          @media screen and (max-width $xlarge)
            display inline-block !important
      @media screen and (max-width $xlarge)
        display block !important

  &-flex
    display flex
    &-ai
      &-ce
        align-items center
      &-fs
        align-items flex-start
      &-fe
        align-items flex-end
      &-sb
        align-items space-between
      &-sa
        align-items space-around
      &-xs
        @media screen and (max-width $xsmall)
          &-ce
            align-items center
          &-fs
            align-items flex-start
          &-fe
            align-items flex-end
          &-sb
            align-items space-between
          &-sa
            align-items space-around
      &-sm
        @media screen and (max-width $small)
          &-ce
            align-items center
          &-fs
            align-items flex-start
          &-fe
            align-items flex-end
          &-sb
            align-items space-between
          &-sa
            align-items space-around
      &-md
        @media screen and (max-width $medium)
          &-ce
            align-items center
          &-fs
            align-items flex-start
          &-fe
            align-items flex-end
          &-sb
            align-items space-between
          &-sa
            align-items space-around
      &-lg
        @media screen and (max-width $large)
          &-ce
            align-items center
          &-fs
            align-items flex-start
          &-fe
            align-items flex-end
          &-sb
            align-items space-between
          &-sa
            align-items space-around
      &-xlg
        @media screen and (max-width $xlarge)
          &-ce
            align-items center
          &-fs
            align-items flex-start
          &-fe
            align-items flex-end
          &-sb
            align-items space-between
          &-sa
            align-items space-around
    &-jc
      &-ce
        justify-content center
      &-fs
        justify-content flex-start
      &-fe
        justify-content flex-end
      &-sb
        justify-content space-between
      &-sa
        justify-content space-around
    &-fd
      &-r
        flex-direction row
      &-rr
        flex-direction row-reverse
      &-c
        flex-direction column
      &-co
        flex-direction column-reverse
      &-xs
        @media screen and (max-width $xsmall)
          &-r
            flex-direction row
          &-rr
            flex-direction row-reverse
          &-c
            flex-direction column
          &-co
            flex-direction column-reverse
      &-sm
        @media screen and (max-width $small)
          &-r
            flex-direction row
          &-rr
            flex-direction row-reverse
          &-c
            flex-direction column
          &-co
            flex-direction column-reverse
      &-md
        @media screen and (max-width $medium)
          &-r
            flex-direction row
          &-rr
            flex-direction row-reverse
          &-c
            flex-direction column
          &-co
            flex-direction column-reverse
      &-lg
        @media screen and (max-width $large)
          &-r
            flex-direction row
          &-rr
            flex-direction row-reverse
          &-c
            flex-direction column
          &-co
            flex-direction column-reverse
      &-xlg
        @media screen and (max-width $xlarge)
          &-r
            flex-direction row
          &-rr
            flex-direction row-reverse
          &-c
            flex-direction column
          &-co
            flex-direction column-reverse

    &-fw
      &-nw
        flex-wrap nowrap
      &-w
        flex-wrap wrap
      &-wr
        flex-wrap wrap-reverse
