

/**Component**/
.c-slider
  position relative
  z-index 1
  .slick-slider
    margin-bottom 0
  .slick-list
    z-index 1
  .slick-next
    right 0
    &:before
      content '\e902'
  .slick-prev
    left 0
    &:before
      content '\e901'
  .slick-next,
  .slick-prev
    width 40px
    height 40px
    box-sizing border-box
    border-radius 50%
    text-align center
    line-height 40px
    position absolute
    border-radius 50%
    font-size 0
    overflow hidden
    background-color c-2
    color c-1
    top 0
    bottom 0
    margin auto
    &:before
      font-family icomoon
      font-size 22px
      line-height 40px
      display block
      position relative
      z-index 1
      opacity 1
    &:after
      position absolute
      border-radius 50%
      z-index 0
      top 0
      bottom 0
      left 0
      right 0
      content ''
      display block
      height 100%
      width 100%
      background c-3
      transition-all()
      transform scale(.5)
      opacity 0
    &:hover
      background c-2
      &:after
        transform scale(1)
        opacity 1
    &:active,
    &:focus
      transform scale(.95)
      &:after
        transform scale(1)
        opacity 1
    &.slick-disabled
      background c-0d
      pointer-events none
      &:before
        color c-1
        opacity 1
  .slick-dots
    bottom 0px
    left 0
    right 0
    margin auto
    width 95%
    font-size 0
    max-width 1100px
    box-sizing border-box
    text-align center
    z-index 1
    li
      height auto
      width auto
      button,
      .c-slider__dot
        cursor pointer
        display block
        height 15px
        width 15px
        border-radius 50%
        background-color c-2
        box-shadow 0px 2px 2px rgba(0, 0, 0, 0.25)
        transition-all()
        &:before
          display none
      &.slick-active
        button,
        .c-slider__dot
          background-color c-0
          box-shadow 0px 0px 0px rgba(0, 0, 0, 0.25)
  &--theme-00
    box-sizing border-box
    margin-bottom 0
    position relative
  &--theme-01
    .c-slider__item
      text-align center
      padding 10px
      box-sizing border-box
    .slick-list
      padding-right 10%
      padding-bottom 30px
      box-sizing border-box
    @media screen and (max-width $xsmall)
      .slick-list
        padding-right 22%
        padding-left 22%
      .slick-arrow
        display none !important
  &--theme-02
    padding 0 50px 30px 50px
    .c-slider__item
      text-align center
      padding 10px 5px
      box-sizing border-box
    @media screen and (max-width $xsmall)
      max-width 100%
      padding 0 0px 30px 0px
      .slick-list
        padding-right 12%
        padding-left 12%
      .slick-arrow
        display none !important

