@import 'nib'

@import 'app.utils/config/variables.util'
@import 'app.utils/async/fonts.util'
@import 'app.utils/async/icons.util'

body
	background-size cover
	font-size 15px
	font-family t-0
	color c-0
a
	color c-0
	&:focus
		outline none
		box-shadow initial
		text-shadow 0 0 2px c-0a
		color c-0
	&:hover,
	&:active
		color c-0a

//[ADMIN HYJ]

.wp-core-ui .button.button-primary.button-hero
	box-shadow 0 2px 0 c-2b
.wp-core-ui .button-primary
	background c-2
	border-color c-2a
	text-decoration none
	text-shadow initial

.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover
	background c-2a
	border-color c-2

.wp-core-ui .button.button-primary.button-hero.active,
.wp-core-ui .button.button-primary.button-hero.active:focus,
.wp-core-ui .button.button-primary.button-hero.active:hover,
.wp-core-ui .button.button-primary.button-hero:active
	box-shadow inset 0 3px 0 c-2c

.community-events li.event-none,
.login #login_error,
.login .message
	border-left 4px solid c-2

.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary:active
	background c-2a
	border-color c-2c
	box-shadow inset 0 2px 0 c-2c
	vertical-align top
.wp-core-ui .button-primary
	box-shadow 0 1px 0 c-2b
.wp-core-ui .button-link
	color c-2b
.wp-core-ui .button-link:active,
.wp-core-ui .button-link:hover
	color c-2c
#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus
	color c-2c
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus,
#wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover,
#wpadminbar li #adminbarsearch.adminbar-focused:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a:hover,
#adminmenu li.menu-top>a:focus,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus,
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label,
#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label,
#wpadminbar>#wp-toolbar li.hover span.ab-label
	color c-2c

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu
	color c-1

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu
	background c-2


#footer-upgrade strong a
	font-family t-0
	font-weight normal

.wp-core-ui .button-secondary:focus,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus
	border-color c-2
	box-shadow 0 0 3px c-2a

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover
	background-color c-2
	background c-2
	border-color c-2
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active
	color c-2

input[type=checkbox]:checked:before
	color c-2
input[type=text]:focus,
input[type=search]:focus,
input[type=radio]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
input[type=password]:focus,
input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
select:focus,
textarea:focus
	border-color c-2
	box-shadow 0 0 2px c-2c

.login h1 a
	background-image url(../media/brand/logo.svg)
	background-size 210px
	width 210px
	height 95px
	pointer-events none

.login #backtoblog a:hover,
.login #nav a:hover,
.login h1 a:hover
	color c-2

#adminmenu div.wp-menu-name
	font-size 14px
	font-family t-0
.postbox .inside h2, .wrap [class$=icon32]+h2, .wrap h1, .wrap>h2:first-child
	font-size 25px
	font-weight normal
	font-family t-0d

#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before
	content '\e914'
	font-family icomoon
.fa-dev
	font-size 16px
	color c-1