@keyframes load
  0%
    transform translateX(0)
    width 50%
  50%
    transform translateX(100px)
  100%
    transform translateX(0)
    width 50%
*
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

body
  font-size 15px
  font-family t-0
  margin 0
  background-color c-1
  &.active
    overflow hidden
  &.loading
    &.first
      #page
        visibility hidden
        transform translateX(-100%)
        opacity 0
      .g-loader
        transform translateX(0)
      &.st
        .g-loader
          z-index 6

    &.end
      #page
        opacity 0
        transform translateX(100%)
      .g-loader
        transform translateX(0%)
  &.error
    .g-loader-offline
      display block
    .g-loader-online
      display none
  &.loaded
    background c-1
    &.begin
      #page
        visibility visible
      .g-loader
        visibility hidden
        transform translateX(-100%)
        z-index 0
      &.on
        .g-loader
          z-index 3
    &.end
      #page
        transform translateX(0%)
        opacity 1
      .g-loader
        transform translateX(100%)
        visibility visible

.wrapper
  overflow hidden
  position static
#page
  background-color c-1
  box-sizing border-box
  transition all .3s ease

.wrapper,.footer
  left 0
  z-index 1
  transition-all()
  &.active
    transform translateX(-200px)

.g-area-segura
  width 94%
  max-width 1100px
  margin auto
  &--full-mobile
    @media screen and (max-width $xsmall)
      width 100%
