.cf{zoom:1}.cf:after,.cf:before{content:'';display:table}
.cf:after{clear:both}@font-face{font-family:'Raleway-Regular';src:url("../fonts/Raleway-Regular.eot?#iefix") format('embedded-opentype'),url("../fonts/Raleway-Regular.woff") format('woff'),url("../fonts/Raleway-Regular.ttf") format('truetype'),url("../fonts/Raleway-Regular.svg#Raleway-Regular") format('svg');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'Raleway-SemiBold';src:url("../fonts/Raleway-SemiBold.eot?#iefix") format('embedded-opentype'),url("../fonts/Raleway-SemiBold.woff") format('woff'),url("../fonts/Raleway-SemiBold.ttf") format('truetype'),url("../fonts/Raleway-SemiBold.svg#Raleway-SemiBold") format('svg');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'Raleway-Light';src:url("../fonts/Raleway-Light.eot?#iefix") format('embedded-opentype'),url("../fonts/Raleway-Light.woff") format('woff'),url("../fonts/Raleway-Light.ttf") format('truetype'),url("../fonts/Raleway-Light.svg#Raleway-Light") format('svg');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'Raleway-Medium';src:url("../fonts/Raleway-Medium.eot?#iefix") format('embedded-opentype'),url("../fonts/Raleway-Medium.woff") format('woff'),url("../fonts/Raleway-Medium.ttf") format('truetype'),url("../fonts/Raleway-Medium.svg#Raleway-Medium") format('svg');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'Raleway-Bold';src:url("../fonts/Raleway-Bold.eot?#iefix") format('embedded-opentype'),url("../fonts/Raleway-Bold.woff") format('woff'),url("../fonts/Raleway-Bold.ttf") format('truetype'),url("../fonts/Raleway-Bold.svg#Raleway-Bold") format('svg');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'Gilroy-Bold';src:url("../fonts/Gilroy-Bold.eot?#iefix") format('embedded-opentype'),url("../fonts/Gilroy-Bold.woff") format('woff'),url("../fonts/Gilroy-Bold.ttf") format('truetype'),url("../fonts/Gilroy-Bold.svg#Gilroy-Bold") format('svg');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'Gilroy-Medium';src:url("../fonts/Gilroy-Medium.eot?#iefix") format('embedded-opentype'),url("../fonts/Gilroy-Medium.woff") format('woff'),url("../fonts/Gilroy-Medium.ttf") format('truetype'),url("../fonts/Gilroy-Medium.svg#Gilroy-Medium") format('svg');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'Gilroy-Regular';src:url("../fonts/Gilroy-Regular.eot?#iefix") format('embedded-opentype'),url("../fonts/Gilroy-Regular.woff") format('woff'),url("../fonts/Gilroy-Regular.ttf") format('truetype'),url("../fonts/Gilroy-Regular.svg#Gilroy-Regular") format('svg');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:'Gilroy-Light';src:url("../fonts/Gilroy-Light.eot?#iefix") format('embedded-opentype'),url("../fonts/Gilroy-Light.woff") format('woff'),url("../fonts/Gilroy-Light.ttf") format('truetype'),url("../fonts/Gilroy-Light.svg#Gilroy-Light") format('svg');font-weight:normal;font-style:normal;font-display:swap}
.g-section{position:relative}.g-section__inner.has-small-spaces{padding:10px 0}.g-section__inner.has-medium-spaces{padding:40px 0}
.g-section__inner.has-large-spaces{padding:80px 0}.g-section__texto{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left;margin-bottom:20px;position:relative;z-index:1}
.g-section__texto--middle{margin-right:1%;width:49%}@media screen and (max-width:767.98px){.g-section__texto--middle{width:100%;margin-right:auto}
}.g-section__texto h3,.g-section__texto h2{font-family:'Gilroy-Bold',sans-serif;font-size:22px;margin-bottom:10px;color:#2c87ab}
.g-section__texto p,.g-section__texto strong,.g-section__texto ol,.g-section__texto li{font-size:16px;color:#576268}
.g-section__texto p,.g-section__texto li{font-family:'Raleway-Regular',sans-serif;line-height:24px}
.g-section__texto p:last-child,.g-section__texto li:last-child{margin-bottom:0}.g-section__texto li,.g-section__texto p{margin-bottom:12px}
.g-section__texto strong{font-family:'Raleway-Bold',sans-serif}.g-section__texto a:not(.g-boton){font-family:'Raleway-Bold',sans-serif;color:#2c87ab}
.g-section__texto a:not(.g-boton):hover{text-decoration:underline}.g-section__image{font-size:0;z-index:1}
.g-section__image--middle{margin-left:1%;width:49%}@media screen and (max-width:767.98px){.g-section__image--middle{width:100%;margin-left:auto}
}.g-section__image img{max-width:100%;height:auto}.g-section--theme-landing .g-section__image{position:absolute;bottom:0;left:calc(50% + 180px);width:100%;max-width:450px;z-index:0}
.g-section--theme-content .g-section__image{text-align:center}.g-section--theme-content .g-section__texto{background:#f8f8f8;padding:20px;border-radius:0 25px 25px 0;margin-bottom:0}
.g-section--theme-content .g-section__texto:before{content:'';display:block;background:#f8f8f8;position:absolute;top:0;bottom:0;right:99%;height:100%;width:1920px}
.g-section--theme-content.is-alternate{background:#f8f8f8}.g-section--theme-content.is-alternate .g-section__image{margin-left:1%;margin-right:auto}
@media screen and (max-width:767.98px){.g-section--theme-content.is-alternate .g-section__image{margin-left:auto}
}.g-section--theme-content.is-alternate .g-section__texto{margin-right:1%;margin-left:auto;text-align:left;background:rgba(255,255,255,0.6);zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF) !important;border-radius:25px 0 0 25px}
@media screen and (max-width:767.98px){.g-section--theme-content.is-alternate .g-section__texto{margin-right:auto}
}.g-section--theme-content.is-alternate .g-section__texto:before{left:99.999999%;right:initial;background:rgba(255,255,255,0.6);zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF) !important}
.g-section.has-background-color{background-color:#f8f8f8}.g-section.is-full-screen{min-height:calc(100vh - 233px)}
.g-section.has-background{background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-repeat:no-repeat;background-color:#f8f8f8}
.g-section.has-background:before{content:'';display:block;position:absolute;width:100%;height:100%;background:#e6e7e9;opacity:.5;-ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50);left:0;top:0;bottom:0;margin:auto;z-index:0}
.g-section.has-background--is-white:before{background:#fff;opacity:.7;-ms-filter:"alpha(opacity=70)";filter:alpha(opacity=70)}
.u-ws-nw{white-space:nowrap}.u-tx-al-ce{text-align:center}.u-tx-ov-el{-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden}
.u-hide{display:none !important}@media screen and (max-width:575.98px){.u-hide-xs{display:none !important}
}@media screen and (max-width:767.98px){.u-hide-sm{display:none !important}}@media screen and (max-width:991.98px){.u-hide-md{display:none !important}
}@media screen and (max-width:1199.98px){.u-hide-lg{display:none !important}}@media screen and (max-width:1919.98px){.u-hide-xlg{display:none !important}
}.u-show{display:block !important}.u-show-inline{display:inline-block !important}
@media screen and (max-width:575.98px){.u-show-xs-inline{display:inline-block !important}
}@media screen and (max-width:575.98px){.u-show{display:block !important}}@media screen and (max-width:767.98px){.u-show-sm-inline{display:inline-block !important}
}@media screen and (max-width:767.98px){.u-show{display:block !important}}@media screen and (max-width:991.98px){.u-show-md-inline{display:inline-block !important}
}@media screen and (max-width:991.98px){.u-show-md{display:block !important}}@media screen and (max-width:1199.98px){.u-show-lg-inline{display:inline-block !important}
}@media screen and (max-width:1199.98px){.u-show{display:block !important}}@media screen and (max-width:1919.98px){.u-show-xlg-inline{display:inline-block !important}
}@media screen and (max-width:1919.98px){.u-show{display:block !important}}.u-flex{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex}
.u-flex-ai-ce{-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.u-flex-ai-fs{-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start}
.u-flex-ai-fe{-webkit-box-align:end;-moz-box-align:end;-o-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end}
.u-flex-ai-sb{-webkit-box-align:space-between;-moz-box-align:space-between;-o-box-align:space-between;-ms-flex-align:space-between;-webkit-align-items:space-between;align-items:space-between}
.u-flex-ai-sa{-webkit-box-align:space-around;-moz-box-align:space-around;-o-box-align:space-around;-ms-flex-align:space-around;-webkit-align-items:space-around;align-items:space-around}
@media screen and (max-width:575.98px){.u-flex-ai-xs-ce{-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.u-flex-ai-xs-fs{-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start}
.u-flex-ai-xs-fe{-webkit-box-align:end;-moz-box-align:end;-o-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end}
.u-flex-ai-xs-sb{-webkit-box-align:space-between;-moz-box-align:space-between;-o-box-align:space-between;-ms-flex-align:space-between;-webkit-align-items:space-between;align-items:space-between}
.u-flex-ai-xs-sa{-webkit-box-align:space-around;-moz-box-align:space-around;-o-box-align:space-around;-ms-flex-align:space-around;-webkit-align-items:space-around;align-items:space-around}
}@media screen and (max-width:767.98px){.u-flex-ai-sm-ce{-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.u-flex-ai-sm-fs{-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start}
.u-flex-ai-sm-fe{-webkit-box-align:end;-moz-box-align:end;-o-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end}
.u-flex-ai-sm-sb{-webkit-box-align:space-between;-moz-box-align:space-between;-o-box-align:space-between;-ms-flex-align:space-between;-webkit-align-items:space-between;align-items:space-between}
.u-flex-ai-sm-sa{-webkit-box-align:space-around;-moz-box-align:space-around;-o-box-align:space-around;-ms-flex-align:space-around;-webkit-align-items:space-around;align-items:space-around}
}@media screen and (max-width:991.98px){.u-flex-ai-md-ce{-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.u-flex-ai-md-fs{-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start}
.u-flex-ai-md-fe{-webkit-box-align:end;-moz-box-align:end;-o-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end}
.u-flex-ai-md-sb{-webkit-box-align:space-between;-moz-box-align:space-between;-o-box-align:space-between;-ms-flex-align:space-between;-webkit-align-items:space-between;align-items:space-between}
.u-flex-ai-md-sa{-webkit-box-align:space-around;-moz-box-align:space-around;-o-box-align:space-around;-ms-flex-align:space-around;-webkit-align-items:space-around;align-items:space-around}
}@media screen and (max-width:1199.98px){.u-flex-ai-lg-ce{-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.u-flex-ai-lg-fs{-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start}
.u-flex-ai-lg-fe{-webkit-box-align:end;-moz-box-align:end;-o-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end}
.u-flex-ai-lg-sb{-webkit-box-align:space-between;-moz-box-align:space-between;-o-box-align:space-between;-ms-flex-align:space-between;-webkit-align-items:space-between;align-items:space-between}
.u-flex-ai-lg-sa{-webkit-box-align:space-around;-moz-box-align:space-around;-o-box-align:space-around;-ms-flex-align:space-around;-webkit-align-items:space-around;align-items:space-around}
}@media screen and (max-width:1919.98px){.u-flex-ai-xlg-ce{-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.u-flex-ai-xlg-fs{-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start}
.u-flex-ai-xlg-fe{-webkit-box-align:end;-moz-box-align:end;-o-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end}
.u-flex-ai-xlg-sb{-webkit-box-align:space-between;-moz-box-align:space-between;-o-box-align:space-between;-ms-flex-align:space-between;-webkit-align-items:space-between;align-items:space-between}
.u-flex-ai-xlg-sa{-webkit-box-align:space-around;-moz-box-align:space-around;-o-box-align:space-around;-ms-flex-align:space-around;-webkit-align-items:space-around;align-items:space-around}
}.u-flex-jc-ce{-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.u-flex-jc-fs{-webkit-box-pack:start;-moz-box-pack:start;-o-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start}
.u-flex-jc-fe{-webkit-box-pack:end;-moz-box-pack:end;-o-box-pack:end;-ms-flex-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end}
.u-flex-jc-sb{-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}
.u-flex-jc-sa{-webkit-box-pack:distribute;-moz-box-pack:distribute;-o-box-pack:distribute;-ms-flex-pack:distribute;-webkit-justify-content:space-around;justify-content:space-around}
.u-flex-fd-r{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.u-flex-fd-rr{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.u-flex-fd-c{-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.u-flex-fd-co{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
@media screen and (max-width:575.98px){.u-flex-fd-xs-r{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.u-flex-fd-xs-rr{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.u-flex-fd-xs-c{-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.u-flex-fd-xs-co{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
}@media screen and (max-width:767.98px){.u-flex-fd-sm-r{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.u-flex-fd-sm-rr{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.u-flex-fd-sm-c{-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.u-flex-fd-sm-co{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
}@media screen and (max-width:991.98px){.u-flex-fd-md-r{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.u-flex-fd-md-rr{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.u-flex-fd-md-c{-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.u-flex-fd-md-co{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
}@media screen and (max-width:1199.98px){.u-flex-fd-lg-r{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.u-flex-fd-lg-rr{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.u-flex-fd-lg-c{-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.u-flex-fd-lg-co{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
}@media screen and (max-width:1919.98px){.u-flex-fd-xlg-r{-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}
.u-flex-fd-xlg-rr{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;-o-box-orient:horizontal;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.u-flex-fd-xlg-c{-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}
.u-flex-fd-xlg-co{-webkit-box-direction:reverse;-moz-box-direction:reverse;-o-box-direction:reverse;-webkit-box-orient:vertical;-moz-box-orient:vertical;-o-box-orient:vertical;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
}.u-flex-fw-nw{-webkit-box-lines:single;-moz-box-lines:single;-o-box-lines:single;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.u-flex-fw-w{-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.u-flex-fw-wr{-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap-reverse;-ms-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse}
@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot?1ml1s2");src:url("../fonts/icomoon.eot?1ml1s2#iefix") format('embedded-opentype'),url("../fonts/icomoon.ttf?1ml1s2") format('truetype'),url("../fonts/icomoon.woff?1ml1s2") format('woff'),url("../fonts/icomoon.svg?1ml1s2#icomoon") format('svg');font-weight:normal;font-style:normal;font-display:block}
[class^='icon-'],[class*=' icon-']{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-home:before{content:'\e91b'}.icon-check:before{content:'\e900'}
.icon-chevron_left:before{content:'\e901'}.icon-chevron_right:before{content:'\e902'}
.icon-close:before{content:'\e903'}.icon-expand_less:before{content:'\e904'}
.icon-expand_more:before{content:'\e905'}.icon-menu:before{content:'\e907'}
.icon-reply:before{content:'\e91c'}.icon-facebook:before{content:'\e906'}
.icon-linkedin:before{content:'\e919'}.icon-instagram:before{content:'\e91a'}
.icon-messenger:before{content:'\e908'}.icon-notifications:before{content:'\e909'}
.icon-notifications_active:before{content:'\e90a'}.icon-phone_in_talk:before{content:'\e90b'}
.icon-play_circle_outline:before{content:'\e90c'}.icon-refresh:before{content:'\e90d'}
.icon-room:before{content:'\e90e'}.icon-search:before{content:'\e90f'}
.icon-wifi_off:before{content:'\e910'}.icon-calendar:before{content:'\e911'}
.icon-logo-johann:before{content:'\e912'}.icon-downloadapp:before{content:'\e913'}
.icon-jr:before{content:'\e914'}.icon-mail:before{content:'\e915'}
.icon-menu_02:before{content:'\e916'}.icon-share:before{content:'\e917'}
.icon-plus:before{content:'\e918'}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}
[hidden]{display:none}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}
abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}
hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}
button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}body,span,object,iframe,h1,h2,h3,h4,h5,h6,h7 p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,section,menu,details{margin:auto;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;vertical-align:baseline}
article,aside,dialog,figure,footer,header,hgroup,section,menu{display:block}html,body{height:100%}
a{text-decoration:none}li{list-style:none}h2{margin:0 0 10px;font-size:38px;line-height:1;font-weight:bold}
h3{margin:0 0 10px;font-size:12px;line-height:1}h4{padding:0;margin:0 0 10px;font-size:16px;line-height:1}
h5{margin:0 0 10px;font-size:18px;line-height:1;font-weight:bold}h6{font-size:16px;font-size:18px;line-height:1}
a img{border:0}p{margin:0 0 15px}li{list-style:none}em,cite{font-style:normal}strong{font-weight:bold}
label{cursor:pointer}textarea{resize:none}input[type="submit"]{cursor:pointer}
:focus{outline:0}table{border-collapse:collapse;border-spacing:0}caption,th,td{font-weight:normal}
table,th,td{vertical-align:middle}br{line-height:1}a{color:inherit}a:focus,a:active{outline:0}
a:focus *,a:active *{outline:0}.c-slider{position:relative;z-index:1}.c-slider .slick-slider{margin-bottom:0}
.c-slider .slick-list{z-index:1}.c-slider .slick-next{right:0}.c-slider .slick-next:before{content:'\e902'}
.c-slider .slick-prev{left:0}.c-slider .slick-prev:before{content:'\e901'}
.c-slider .slick-next,.c-slider .slick-prev{width:40px;height:40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:50%;text-align:center;line-height:40px;position:absolute;border-radius:50%;font-size:0;overflow:hidden;background-color:#2c87ab;color:#fff;top:0;bottom:0;margin:auto}
.c-slider .slick-next:before,.c-slider .slick-prev:before{font-family:'icomoon';font-size:22px;line-height:40px;display:block;position:relative;z-index:1;opacity:1;-ms-filter:none;filter:none}
.c-slider .slick-next:after,.c-slider .slick-prev:after{position:absolute;border-radius:50%;z-index:0;top:0;bottom:0;left:0;right:0;content:'';display:block;height:100%;width:100%;background:#000;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-o-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0)}
.c-slider .slick-next:hover,.c-slider .slick-prev:hover{background:#2c87ab}.c-slider .slick-next:hover:after,.c-slider .slick-prev:hover:after{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;-ms-filter:none;filter:none}
.c-slider .slick-next:active,.c-slider .slick-prev:active,.c-slider .slick-next:focus,.c-slider .slick-prev:focus{-webkit-transform:scale(0.95);-moz-transform:scale(0.95);-o-transform:scale(0.95);-ms-transform:scale(0.95);transform:scale(0.95)}
.c-slider .slick-next:active:after,.c-slider .slick-prev:active:after,.c-slider .slick-next:focus:after,.c-slider .slick-prev:focus:after{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;-ms-filter:none;filter:none}
.c-slider .slick-next.slick-disabled,.c-slider .slick-prev.slick-disabled{background:#c7cbcd;pointer-events:none}
.c-slider .slick-next.slick-disabled:before,.c-slider .slick-prev.slick-disabled:before{color:#fff;opacity:1;-ms-filter:none;filter:none}
.c-slider .slick-dots{bottom:0;left:0;right:0;margin:auto;width:95%;font-size:0;max-width:1100px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;z-index:1}
.c-slider .slick-dots li{height:auto;width:auto}.c-slider .slick-dots li button,.c-slider .slick-dots li .c-slider__dot{cursor:pointer;display:block;height:15px;width:15px;border-radius:50%;background-color:#2c87ab;-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.25);box-shadow:0 2px 2px rgba(0,0,0,0.25);-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.c-slider .slick-dots li button:before,.c-slider .slick-dots li .c-slider__dot:before{display:none}
.c-slider .slick-dots li.slick-active button,.c-slider .slick-dots li.slick-active .c-slider__dot{background-color:#000;-webkit-box-shadow:0 0 0 rgba(0,0,0,0.25);box-shadow:0 0 0 rgba(0,0,0,0.25)}
.c-slider--theme-00{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom:0;position:relative}
.c-slider--theme-01 .c-slider__item{text-align:center;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.c-slider--theme-01 .slick-list{padding-right:10%;padding-bottom:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
@media screen and (max-width:575.98px){.c-slider--theme-01 .slick-list{padding-right:22%;padding-left:22%}
.c-slider--theme-01 .slick-arrow{display:none !important}}.c-slider--theme-02{padding:0 50px 30px 50px}
.c-slider--theme-02 .c-slider__item{text-align:center;padding:10px 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
@media screen and (max-width:575.98px){.c-slider--theme-02{max-width:100%;padding:0 0 30px 0}
.c-slider--theme-02 .slick-list{padding-right:12%;padding-left:12%}.c-slider--theme-02 .slick-arrow{display:none !important}
}.home .c-slider.c-slider--theme-02{max-width:720px}.home-slider-t0 .gbp-imagen,.home-slider-t0 .g-title,.home-slider-t0 .gbp-bg{-webkit-transition:all 3s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all 3s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all 3s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all 3s cubic-bezier(0.25,0.8,0.25,1);transition:all 3s cubic-bezier(0.25,0.8,0.25,1)}
.home-slider-t0 .gbp-bg{background-position:50px center;-webkit-transform:scale(1.25);-moz-transform:scale(1.25);-o-transform:scale(1.25);-ms-transform:scale(1.25);transform:scale(1.25)}
.home-slider-t0 .g-title{-webkit-transform:translateY(-30px);-moz-transform:translateY(-30px);-o-transform:translateY(-30px);-ms-transform:translateY(-30px);transform:translateY(-30px);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0)}
.home-slider-t0 .gbp-imagen{-webkit-transform:translateY(60px);-moz-transform:translateY(60px);-o-transform:translateY(60px);-ms-transform:translateY(60px);transform:translateY(60px)}
.home-slider-t0 .g-title__text__t2{color:#2c87ab}.hs-item-t0.slick-active .gbp-bg{background-position:0 0;-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.hs-item-t0.slick-active .g-title,.hs-item-t0.slick-active .gbp-imagen{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.hs-item-t0.slick-active .g-title{opacity:1;-ms-filter:none;filter:none}.home-wizard-news{background-color:#e6e7e9;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-repeat:no-repeat;background-image:url("../media/app/06.jpg");padding-bottom:40px;position:relative;z-index:2}
.home-wizard-news .g-title-section{margin-top:-20px}.hwn-inner{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex}
.home-wizard{width:100%;max-width:592px}.hw-content-steps{position:relative}.hw-step{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;top:0;left:0;bottom:0;right:0;margin:auto;min-height:250px;width:100%;position:absolute;z-index:0;padding-left:10px;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-o-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.hw-step.active{position:relative;opacity:1;-ms-filter:none;filter:none;z-index:1;-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.hws-step-inner{padding:10px 10px 10px 0;font-size:0}.hws-step-inner.hws-step-inner--mw{max-width:550px;margin:auto}
.hw-step-top{margin-bottom:5px}.hw-step-right,.hw-step-left{display:inline-block;vertical-align:top}
.hw-step-left{width:160px;text-align:center}.hw-step-left .c-elipse-card{margin-bottom:5px}
.hw-step-right{width:calc(100% - 175px);margin-left:15px;text-align:left}.hw-step-img{max-width:192px;margin:auto;margin-bottom:15px}
.hw-step-img img{max-width:100%;height:auto}.hws-form-user{max-width:360px;display:inline-block;width:100%}
.home-news{background:#000;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:40px 0 0 40px;width:calc(100% - 592px);position:relative;text-align:center;padding-bottom:75px}
.home-news:before{content:'';display:block;width:1920px;height:100%;background:#000;position:absolute;left:99%;top:0;bottom:0;margin:auto;z-index:0}
.hn-texto{display:block;padding:20px;max-width:300px;margin:auto;position:relative;z-index:1}
.hn-texto em,.hn-texto strong{display:block;color:#fff}.hn-texto em{font-size:28px;font-family:'Gilroy-Medium',sans-serif}
.hn-texto strong{font-size:45px;font-family:'Gilroy-Bold',sans-serif}
.hn-controls{padding:15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%;display:block;background:#fff;position:absolute;border-radius:0 0 0 40px;bottom:0;left:0}
.hn-controls:before{content:'';display:block;width:1920px;height:100%;background:#fff;position:absolute;left:99%;top:0;bottom:0;margin:auto}
@media screen and (max-width:1199.98px){.home-wizard{max-width:480px}.home-news{width:calc(100% - 480px)}
.hn-texto em{font-size:18px;line-height:20px}.hn-texto strong{font-size:35px;line-height:38px}
}@media screen and (max-width:991.98px){.home-wizard{max-width:430px}.home-news{width:calc(100% - 430px)}
}@media screen and (max-width:767.98px){.home .c-slider.c-slider--theme-02{max-width:410px}
.home-wizard-news{overflow:hidden;padding-top:20px}.home-wizard-news .g-title-section{margin-top:auto}
.home-wizard{max-width:370px}.home-news{width:calc(100% - 370px)}.hw-step.sl{padding-left:0}
.hw-step.sl .hw-step-top{padding:0 10px}.hws-form-user{max-width:100%}}@media screen and (max-width:575.98px){.home .c-slider.c-slider--theme-02{max-width:100%}
.hw-step-left{display:none}.hw-step-right{width:100%;margin-left:auto}.home-wizard,.home-news{width:100%;max-width:100%}
.home-wizard{margin-bottom:15px}.home-news,.hn-controls{border-radius:0}}.mantenimiento{height:calc(100vh - 46px);min-height:480px;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;overflow:hidden;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;position:relative}
.mantenimiento:before{content:'';display:block;height:100%;width:100%;position:absolute;top:0;left:0;bottom:0;right:0;background:#fff;opacity:.55;-ms-filter:"alpha(opacity=55)";filter:alpha(opacity=55);z-index:1}
.mantenimiento .gi3d-scene3d{filter:drop-shadow(0 0 5px rgba(0,0,0,0.5))}.mant{width:100%;position:relative;z-index:1}
.inner-mant{font-size:0;text-align:center}.mant-update{display:none;margin-bottom:25px;text-align:left}
.mant-cnt-logo{height:480px}.mant-logo{position:relative;margin-bottom:25px;z-index:1}
.mant-logo img{max-width:100%;height:auto}.mant-left,.mant-right{display:inline-block;vertical-align:top}
.mant-left{width:320px;padding-top:25px;text-align:center;position:relative}.mant-right{padding-top:50px;width:calc(95% - 320px);max-width:600px;margin-left:5%}
.mant-imagenintro{display:none;margin:auto;margin-top:10px;max-width:300px;text-align:center;position:relative;z-index:0}
.mant-imagenintro img{max-width:100%;display:block;height:auto;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-animation:scaleImg 8s infinite linear;-moz-animation:scaleImg 8s infinite linear;-o-animation:scaleImg 8s infinite linear;-ms-animation:scaleImg 8s infinite linear;animation:scaleImg 8s infinite linear;-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;-o-transform-origin:50% 0;-ms-transform-origin:50% 0;transform-origin:50% 0}
.mant-actions,.mant-countdown,.mant-social{text-align:left;display:block}.mant-social{font-size:20px;margin-bottom:25px}
.mant-social em{font-family:'Raleway-Regular',sans-serif}.mant-item-cd{display:inline-block;vertical-align:top;margin-left:10px;width:125px}
.mant-item-cd:first-child{margin-left:0}.mant-item-cd span{display:block;padding:5px 10px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#000;color:#fff;font-family:'Gilroy-Medium',sans-serif;font-size:15px;line-height:20px;text-align:center;border-radius:25px 25px 0 0}
.mant-item-cd strong{display:block;border:5px solid #000;color:#2c87ab;background:#fff;text-align:center;padding:5px 10px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:70px;line-height:70px;font-family:'Gilroy-Bold',sans-serif;border-radius:0 0 25px 25px}
.mant-title{text-align:left;margin-bottom:40px;color:c-5}.mant-title em,.mant-title strong,.mant-title span{display:block}
.mant-title span{font-family:'Gilroy-Light',sans-serif;font-size:20px;line-height:24px;color:#000}
.mant-title em{font-size:30px;line-height:25px;font-family:'Gilroy-Regular',sans-serif;margin-bottom:0}
.mant-title strong{font-size:50px;font-family:'Gilroy-Bold',sans-serif;line-height:50px;margin-bottom:10px}
.mant-countdown{margin-bottom:25px}.mant-cinta{display:block;height:100vh;position:absolute;width:100%;z-index:1;border-radius:50px}
.mant-cinta.t{bottom:calc(100% - 25px);background:transparent;-webkit-transform-origin:50% 100%;-moz-transform-origin:50% 100%;-o-transform-origin:50% 100%;-ms-transform-origin:50% 100%;transform-origin:50% 100%;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:end;-moz-box-align:end;-o-box-align:end;-ms-flex-align:end;-webkit-align-items:flex-end;align-items:flex-end}
.mant-cinta.b{top:calc(100% - 25px);background:transparent;-webkit-transform-origin:50% 0;-moz-transform-origin:50% 0;-o-transform-origin:50% 0;-ms-transform-origin:50% 0;transform-origin:50% 0}
@media screen and (max-width:991.98px){.mant-cnt-logo .gi3d-scene3d{-webkit-transform:scale(0.6);-moz-transform:scale(0.6);-o-transform:scale(0.6);-ms-transform:scale(0.6);transform:scale(0.6)}
}@media screen and (max-width:991.98px){.mant-item-cd{width:95px}.mant-item-cd span{font-size:12px;line-height:15px}
.mant-item-cd strong{font-size:50px;line-height:50px;padding:10px}}@media screen and (max-width:991.98px){.inner-mant{padding:20px 0 40px}
.mant-cnt-logo{height:auto;position:relative}.mant-cnt-logo .gi3d-scene3d{position:absolute;top:-150px;bottom:-150px;left:0;right:0;margin:auto;-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-o-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);opacity:.4;-ms-filter:"alpha(opacity=40)";filter:alpha(opacity=40)}
.mant-logo{margin-bottom:0}.mant-left,.mant-right{width:100%;margin:auto}.mant-left{margin-bottom:20px;padding-top:0}
.mant-right{padding-top:0}.mant-update{text-align:center}.mant-imagenintro.b,.mant-cinta.b{display:none}
.mant-imagenintro.t,.mant-cinta.t{display:none}.mant-actions,.mant-countdown,.mant-social,.mant-title,.mant-acciones{text-align:center}
}@media screen and (max-width:767.98px){.mant-title{margin-bottom:20px}.mant-title em{font-size:18px}
.mant-title strong{font-size:34px;line-height:34px}.mant-title span{font-size:14px;line-height:14px}
.mant-item-cd{width:23%;margin-left:2%;max-width:80px}.mant-item-cd span{font-size:10px;line-height:12px;padding:3px 3px 0;margin-bottom:-1px}
.mant-item-cd strong{font-size:30px;line-height:30px;padding:10px}.mant-social{font-size:15px;margin-bottom:10px}
.mant-countdown{margin-bottom:15px}}@media screen and (max-width:575.98px){.mant-left{margin-bottom:10px}
.mant-left .mant-cnt-logo .gi3d-scene3d{-webkit-transform:scale(0.4);-moz-transform:scale(0.4);-o-transform:scale(0.4);-ms-transform:scale(0.4);transform:scale(0.4)}
.mant-logo{margin:auto;max-width:230px}}.nosotros-historia-slider:after{content:'';position:absolute;bottom:0;right:0;left:0;height:100px;background:#f8f8f8;width:100%;z-index:0}
.nosotros-historia-slider .slick-dots{bottom:40px}.nhs-top{padding-top:40px;text-align:center;position:relative;z-index:0}
.nhs-image{max-width:260px;display:inline-block;font-size:0;position:relative}.nhs-image:before{display:block;position:absolute;font-size:450px;line-height:450px;top:0;left:-100px;right:-100px;color:#2c87ab;opacity:.2;-ms-filter:"alpha(opacity=20)";filter:alpha(opacity=20);z-index:0}
.nhs-image img{max-width:100%;position:relative;height:auto;z-index:1}.nhs-bottom{padding:30px 0 70px;background:#f8f8f8;position:relative;z-index:1;min-height:250px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.nhs-bottom .g-section__texto{margin:auto;max-width:480px}@media screen and (max-width:767.98px){.nhs-image:before{font-size:370px;line-height:370px}
}@media screen and (max-width:575.98px){.nhs-image:before{font-size:320px}}.proyecto-contenido .g-section.g-section--theme-content.is-alternate .g-section__texto{background:rgba(255,255,255,0.3);zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF) !important}
.proyecto-contenido .g-section.g-section--theme-content.is-alternate .g-section__texto:before{background:rgba(255,255,255,0.3);zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF,endColorstr=#4CFFFFFF) !important}
.proyecto-contenido .g-section.g-section--theme-content.is-alternate .g-section__texto h3,.proyecto-contenido .g-section.g-section--theme-content.is-alternate .g-section__texto h2,.proyecto-contenido .g-section.g-section--theme-content.is-alternate .g-section__texto p,.proyecto-contenido .g-section.g-section--theme-content.is-alternate .g-section__texto strong{color:#fff}
.ptec-inner:after{content:'';display:block;width:49%;height:30px;position:absolute;bottom:0;left:0}
.ptec-lista-tecnologias{border-left:3px solid #e6e7e9}.c-avatar-button{border-radius:18px;background:rgba(255,255,255,0.2);zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF) !important;padding:4px 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:pointer}
.c-avatar-button--primary .c-avatar-button__text{color:#fff}.c-avatar-button--secondary{border:1px solid #000}
.c-avatar-button--secondary .c-avatar-button__text{color:#000}.c-avatar-button__image{width:28px;height:28px;border-radius:50%;overflow:hidden}
.c-avatar-button__image img{max-width:100%;height:auto}.c-avatar-button__text{margin-left:5px;width:calc(100% - 33px);font-size:16px;font-family:'Raleway-SemiBold',sans-serif}
.g-banner-proyecto{-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-position:center center;background-repeat:no-repeat;padding-top:107px;position:relative;overflow:hidden}
.g-banner-proyecto:before{content:'';display:block;position:absolute;top:0;bottom:0;right:0;left:0;opacity:.95;-ms-filter:"alpha(opacity=95)";filter:alpha(opacity=95);background:#fff;z-index:0}
.gbpy-detail{background-color:#e6e7e9;padding:30px 0;position:relative;z-index:1}
.gbpy-inner{position:relative;font-size:0}.gbpy-inner .g-title.g-title--medium{position:absolute;top:0;left:0}
.gbpy-inner .g-title.g-title--medium:before{background:#fff}.gbpy-inner .g-title.g-title--medium .g-title__text__t1,.gbpy-inner .g-title.g-title--medium .g-title__text__t2,.gbpy-inner .g-title.g-title--medium .g-title__text__t3{color:#fff}
.gbpy-inner .g-title.g-title--medium .g-title__icon{border-radius:50%;background:#fff;filter:grayscale(100%);padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.gbpy-imagen{display:inline-block;vertical-align:middle;font-size:0;border-radius:25px;background:rgba(255,255,255,0.2);zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF) !important;overflow:hidden;height:200px;width:1100px;margin-left:550px}
.gbpy-imagen img{max-width:100%;height:auto}@media screen and (max-width:1199.98px){.g-banner-proyecto{padding-top:60px}
}@media screen and (max-width:575.98px){.gbpy-imagen{display:none}.gbpy-inner .g-title.g-title--medium{position:relative;top:initial;bottom:initial;right:initial}
.gbpy-detail{padding:0}.gbpy-inner{padding:0 0 10px}}.c-breadcrumd{display:block;width:100%;background:#e6e7e9}
.c-breadcrumd__inner{padding:5px 0;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.c-breadcrumd__routelist,.c-breadcrumd__date{width:50%;padding-left:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.c-breadcrumd__routelist{font-size:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.c-breadcrumd__routelist__item{position:relative;color:#2c87ab;font-family:'Raleway-Medium',sans-serif;font-size:13px;line-height:16px;display:inline-block;vertical-align:middle;padding-left:14px}
.c-breadcrumd__routelist__item:hover{color:#000}.c-breadcrumd__routelist__item:first-child{padding-left:0}
.c-breadcrumd__routelist__item:first-child:before{display:none}.c-breadcrumd__routelist__item:before{content:'\e902';font-family:'icomoon';position:absolute;top:0;bottom:0;left:0;font-size:13px;line-height:16px;color:#2c87ab}
.c-breadcrumd__date{color:#000;font-family:'Raleway-Light',sans-serif;font-size:12px;line-height:16px;text-align:right}
@media screen and (max-width:1199.98px){.c-breadcrumd__date{margin-top:3px}.c-breadcrumd__routelist,.c-breadcrumd__date{width:100%;text-align:left}
}.g-boton{font-family:'Raleway-Bold',sans-serif;font-size:14px;color:#fff;padding:13px 25px 14px;background:#1f2d36;border-radius:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;vertical-align:middle;position:relative;cursor:pointer;overflow:hidden;border:0;z-index:1;-webkit-box-shadow:0 4px 4px rgba(0,0,0,0.25);box-shadow:0 4px 4px rgba(0,0,0,0.25);min-width:158px;text-align:center}
.g-boton em{text-transform:uppercase;position:relative;z-index:1}.g-boton:before{content:'';width:22px;height:22px;position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);border-width:2px;border-style:solid;border-radius:50%;-webkit-animation:loading-icon 500ms linear infinite;-moz-animation:loading-icon 500ms linear infinite;-o-animation:loading-icon 500ms linear infinite;-ms-animation:loading-icon 500ms linear infinite;animation:loading-icon 500ms linear infinite;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom-color:#fff;border-top-color:rgba(255,255,255,0.2);border-left-color:rgba(255,255,255,0.2);border-right-color:rgba(255,255,255,0.2);margin:auto}
.g-boton:after{position:absolute;height:200px;width:200px;border-radius:50%;z-index:0;top:-160px;bottom:-160px;left:-160px;right:-160px;margin:auto;content:'';display:block;background:#000;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-o-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0)}
.g-boton:hover:after{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;-ms-filter:none;filter:none}
.g-boton:active,.g-boton.active{-webkit-transform:translateY(1px);-moz-transform:translateY(1px);-o-transform:translateY(1px);-ms-transform:translateY(1px);transform:translateY(1px);-webkit-box-shadow:0 0 0 rgba(0,0,0,0.25);box-shadow:0 0 0 rgba(0,0,0,0.25)}
.g-boton:active:after,.g-boton.active:after{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;-ms-filter:none;filter:none}
.g-boton:disabled,.g-boton.disabled{pointer-events:none;cursor:not-allowed;background:#c7cbcd;color:#8f969b;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.25);box-shadow:0 1px 1px rgba(0,0,0,0.25)}
.g-boton.is-loading{pointer-events:none}.g-boton.is-loading:before{opacity:1;-ms-filter:none;filter:none}
.g-boton.is-loading em{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0)}
.g-circle-button{width:40px;height:40px;border:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:50%;text-align:center;line-height:40px;position:relative;font-size:0;display:inline-block;vertical-align:middle;overflow:hidden;cursor:pointer}
.g-circle-button:before{font-size:22px;position:relative;z-index:1}.g-circle-button:after{position:absolute;border-radius:50%;z-index:0;top:0;bottom:0;left:0;right:0;content:'';display:block;height:100%;width:100%;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-o-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0)}
.g-circle-button--primary{background-color:#f8f8f8;color:#000}.g-circle-button--primary:after{background-color:#e6e7e9}
.g-circle-button--secondary{background-color:#1f2d36;color:#fff}.g-circle-button--secondary:after{background-color:#000}
.g-circle-button--tertiary{background-color:#2c87ab;color:#fff}.g-circle-button--tertiary:after{background-color:#000}
.g-circle-button:hover:after{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;-ms-filter:none;filter:none}
.g-circle-button:active{-webkit-transform:scale(0.95);-moz-transform:scale(0.95);-o-transform:scale(0.95);-ms-transform:scale(0.95);transform:scale(0.95)}
.g-circle-button:active:after{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1;-ms-filter:none;filter:none}
.g-circle-button.is-active{background-color:#35a617}@-moz-keyframes loading-icon{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}@-webkit-keyframes loading-icon{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}@-o-keyframes loading-icon{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}@keyframes loading-icon{0%{-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
to{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg)}
}.c-card{font-size:0;position:relative;display:inline-block;width:100%;max-width:285px;filter:drop-shadow(0 2px 4px rgba(0,0,0,0.25));text-align:left;z-index:1}
.c-card__controls{position:absolute;top:10px;right:10px;z-index:2}.g-checkbox{position:relative;display:block;width:100%;margin-bottom:10px;text-align:left}
.g-checkbox input[type="checkbox"]{position:absolute;top:0;left:0;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0)}
.g-checkbox input[type="checkbox"]:checked+span:before{color:#1f2d36}
.g-checkbox em,.g-checkbox span{display:inline-block;vertical-align:top}.g-checkbox em{text-align:left;font-size:16px;color:#1f2d36;margin-bottom:0;width:calc(100% - 30px);font-family:'Raleway-Regular',sans-serif}
.g-checkbox span{width:20px;height:20px;margin-right:10px;border:1px solid #1f2d36;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:4px;line-height:18px;background:#fff;text-align:center}
.g-checkbox span:before{content:'\e900';font-family:'icomoon';font-size:16px;color:transparent;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.g-checkbox .c-label{position:relative;left:30px;width:100%}.g-checkbox .c-label em{color:#f41010;font-size:10px}
.c-elipse-card{position:relative;display:inline-block;filter:drop-shadow(0 2px 4px rgba(0,0,0,0.25));width:100%;max-width:160px}
.c-elipse-card input[type="radio"]{display:none}.c-elipse-card__controls{position:absolute;pointer-events:none;left:0;right:0;bottom:0;margin:auto;-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);z-index:1}
.c-elipse-card.is-active{filter:drop-shadow(0 0 2px rgba(0,0,0,0.25));-webkit-transform:translateY(2px);-moz-transform:translateY(2px);-o-transform:translateY(2px);-ms-transform:translateY(2px);transform:translateY(2px)}
.c-elipse-card.is-active .c-elipse-card__controls{opacity:1;-ms-filter:none;filter:none;-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);-o-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
.c-elipse-card.is-active .c-elipse-card__info:before{-webkit-transform:translateY(10px);-moz-transform:translateY(10px);-o-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px);opacity:1;-ms-filter:none;filter:none;background:#1f2d36}
.c-elipse-card.is-active .c-elipse-card__desc{-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-o-transform:scale(0.5);-ms-transform:scale(0.5);transform:scale(0.5);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);visibility:hidden}
.c-elipse-card:hover .c-elipse-card__info:before{-webkit-transform:translateY(10px);-moz-transform:translateY(10px);-o-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px);opacity:1;-ms-filter:none;filter:none}
.c-elipse-card:hover .c-elipse-card__img:before{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
.c-elipse-card__info{height:200px;width:100%;background:#fff;border-radius:80px;padding:20px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;overflow:hidden;position:relative;z-index:1}
.c-elipse-card__info:before{content:'';display:block;height:100%;width:100%;border-radius:50px;z-index:0;position:absolute;background:#2c87ab;opacity:.8;-ms-filter:"alpha(opacity=80)";filter:alpha(opacity=80);top:66px;left:0;right:0;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.c-elipse-card__img{position:relative;width:80px;height:80px;display:inline-block;margin-bottom:10px;font-size:0;z-index:1}
.c-elipse-card__img:before{content:'';display:block;width:100%;height:100%;position:absolute;z-index:0;background:#2c87ab;opacity:.1;-ms-filter:"alpha(opacity=10)";filter:alpha(opacity=10);top:0;bottom:0;left:0;right:0;margin:auto;border-radius:50%;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.c-elipse-card__img img{position:relative;z-index:1;max-width:100%;height:auto}.c-elipse-card__texto{font-family:'Raleway-Bold',sans-serif;font-size:12px;color:#fff;text-transform:uppercase;position:relative;z-index:1;margin-bottom:0}
.c-elipse-card__desc{display:-webkit-box;position:relative;z-index:1;font-size:10px;color:#fff;font-family:'Raleway-Medium',sans-serif;-webkit-line-clamp:4;-webkit-box-orient:vertical;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.footer{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:'Raleway-Regular',sans-serif;position:relative}
.footer-top{padding:25px 0 27px;background:#2c87ab}.footer-bottom{background:#2c87ab;padding:18px 0}
.footer-bottom .footer-cnt{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}
.footer-info{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.footer-cnt-item{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;width:74%;margin-left:5%;-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}
.footer-item{text-align:left;-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;color:#fff;margin-top:6px;-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;width:18.05%}
.footer-item.i2{width:20.7%}.footer-item.i3{width:25.18%}.footer-item.i4{width:14.25%}
.footer-item-title h3{font-size:16px;font-family:'Gilroy-Bold',sans-serif;color:#fff;text-transform:uppercase;margin-bottom:15px}
.footer-item-detail{font-size:14px}.footer-item-detail p{margin:0}.footer-copy{font-size:14px;color:#fff;background:#000;padding:13px 0}
.footer-copy .link-jr{font-size:0}.footer-copy p{margin:0}.footer-copy .footer-cnt{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:justify;-moz-box-pack:justify;-o-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}
.footer-copy-left,.footer-copy-right{width:50%}.footer-redes{font-size:0;margin:0}
.footer-redes li{display:inline-block;margin-left:15px}.footer-redes li a{display:inline-block;text-align:center;font-size:0}
.footer-redes li a:before{font-size:19px;font-family:'icomoon';-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
@media screen and (min-width:991.98px){.footer-redes li a:hover:before{color:#000}
}.footer-redes li:first-child{margin-left:0}.footer-copy-right{text-align:right}.footer-copy-right p,.footer-copy-right a{display:inline-block;vertical-align:middle}
.footer-copy-right p{font-size:14px;margin-right:5px}.footer-cnt-logo{width:21%;padding-right:10px;position:relative}
.footer-logo{max-width:200px}.footer-logo img{display:block;max-width:100%;height:auto;margin:0 0 17px}
@media screen and (max-width:1199.98px){.footer-cnt-logo{display:none}.footer-item{width:25%;margin:0}
.footer-cnt-item{width:100%;margin-left:0}.footer-info{-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.footer-info .g-title{text-align:center;margin-bottom:30px}.footer-item-title h2{font-size:14px}
.footer-item-detail{font-size:14px}.footer-top,.footer-cnt-item{padding:20px 0}}@media screen and (max-width:991.98px){.footer-cnt-item{-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center}
.footer-item{width:50%;margin-bottom:25px;text-align:center}.footer-item:last-child{margin-bottom:0}
.footer-item:nth-child(3){margin-bottom:0}.footer-item.i2,.footer-item.i3,.footer-item.i4{width:50%}
.footer-redes li a:before{font-size:14px}.footer-item-title h2{margin-bottom:10px}
.footer-cnt-item{padding:0}.footer-copy-left,.footer-copy-right{width:50%}.footer-copy .footer-cnt{display:block;text-align:center}
.footer-copy-left{margin-bottom:5px;display:none}.footer-copy-left,.footer-copy-right{width:100%;text-align:center}
}@media screen and (max-width:767.98px){.footer-item{width:100%;margin-bottom:15px}
.footer-item.i2,.footer-item.i3{width:100%}.footer-item.i4{display:none}.footer-item-title h2{display:none}
.footer-copy-right a{width:70px;display:inline-block;vertical-align:middle}.footer-copy-right a img{display:block;width:100%;height:auto}
.footer-btn{margin-top:15px}.footer-info .g-title strong:before{display:none}}.g-field{width:100%;font-size:0}
.g-field .g-field__left,.g-field .g-field__right{width:30%}.g-field .g-field__left{text-align:left}
.g-field .g-field__center{width:40%;margin-left:10px;margin-right:10px;text-align:center}
.g-field .g-field__right{text-align:right}.g-field--two-cols{font-size:0}.g-field--two-cols .g-field__left,.g-field--two-cols .g-field__right{width:50%}
.g-field--two-cols .g-field__left{margin-right:10px}.g-field--two-cols .g-field__right{margin-left:10px}
.c-input,.c-textarea{width:100%;border-radius:20px;margin:auto;text-align:center;margin-bottom:10px;display:block;position:relative}
.c-input .c-label,.c-textarea .c-label{-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);font-size:11px;font-family:'Raleway-Bold',sans-serif;color:#1f2d36;display:block;position:absolute;top:5px;left:12px;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);z-index:1;-webkit-transform:translateY(-5px);-moz-transform:translateY(-5px);-o-transform:translateY(-5px);-ms-transform:translateY(-5px);transform:translateY(-5px)}
.c-input input,.c-textarea input,.c-input select,.c-textarea select,.c-input textarea,.c-textarea textarea{-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);border:1px solid #576268;position:relative;z-index:0;border-radius:20px;width:100%;display:block;color:#576268;font-size:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff;font-family:'Raleway-Regular',sans-serif;-webkit-appearance:none;-moz-appearance:none;appearance:none;text-align:left}
.c-input input:focus,.c-textarea input:focus,.c-input select:focus,.c-textarea select:focus,.c-input textarea:focus,.c-textarea textarea:focus{border:1px solid #1f2d36;color:#1f2d36}
.c-input input:disabled,.c-textarea input:disabled,.c-input select:disabled,.c-textarea select:disabled,.c-input textarea:disabled,.c-textarea textarea:disabled{border:1px solid #8f969b;color:#8f969b}
.c-input.active .c-label,.c-textarea.active .c-label{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;-ms-filter:none;filter:none}
.c-input.active input,.c-textarea.active input,.c-input.active select,.c-textarea.active select,.c-input.active textarea,.c-textarea.active textarea{border:1px solid #1f2d36;color:#1f2d36}
.c-input.active input:disabled,.c-textarea.active input:disabled,.c-input.active select:disabled,.c-textarea.active select:disabled,.c-input.active textarea:disabled,.c-textarea.active textarea:disabled{border:1px solid #8f969b;color:#8f969b}
.c-input.active.disabled .c-label,.c-textarea.active.disabled .c-label{color:#8f969b}
.c-input.error .c-label,.c-textarea.error .c-label{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;-ms-filter:none;filter:none;color:#f41010}
.c-input.error input,.c-textarea.error input,.c-input.error select,.c-textarea.error select,.c-input.error textarea,.c-textarea.error textarea{border:1px solid #f41010;color:#f41010}
.c-textarea .c-label{top:10px}.c-textarea textarea{min-height:150px;padding:15px 12px 9px}
.c-textarea.active textarea{padding:23px 12px 3px}.c-textarea.error textarea{padding:23px 12px 3px}
.c-input .c-label{top:5px}.c-input span{font-size:14px;height:14px;color:#1f2d36;display:block;position:absolute;left:20px;top:0;bottom:0;margin:auto}
.c-input input,.c-input select{height:40px;padding:10px 12px 9px}.c-input input[type="date"]+i,.c-input input[type="month"]+i,.c-input select+i{position:absolute;pointer-events:none;font-style:normal;top:0;bottom:0;right:0;display:inline-block;line-height:42px;width:42px;text-align:center;color:c-5}
.c-input input[type="date"]+i:after,.c-input input[type="month"]+i:after,.c-input select+i:after{display:block;font-size:24px;font-family:'icomoon'}
.c-input select+i:after{content:'\e905'}.c-input input[type="date"]::-webkit-inner-spin-button,.c-input input[type="month"]::-webkit-inner-spin-button,.c-input input[type="date"]::-webkit-clear-button,.c-input input[type="month"]::-webkit-clear-button{display:none}
.c-input input[type="date"]::-webkit-calendar-picker-indicator,.c-input input[type="month"]::-webkit-calendar-picker-indicator{color:transparent;background:transparent;position:absolute;top:0;bottom:0;right:0;font-size:42px;line-height:42px}
.c-input input[type="date"]+i:after,.c-input input[type="month"]+i:after{content:'\e911'}
.c-input.active input,.c-input.active select{padding:16px 12px 3px}.c-input.active.disabled .c-label{color:#8f969b}
.c-input.error .c-label{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;-ms-filter:none;filter:none;visibility:visible;color:#f41010}
.c-input.error input,.c-input.error select{padding:16px 12px 3px;border:1px solid #f41010;color:#f41010}
@media screen and (max-width:767.98px){.g-field .g-field__left,.g-field .g-field__center,.g-field .g-field__right{width:100%;text-align:center}
.g-field .g-field__center{margin-right:auto;margin-left:auto}.g-field--two-cols .g-field__left,.g-field--two-cols .g-field__right{width:100%;margin-right:auto;margin-left:auto}
}.c-link{font-family:'Raleway-Bold',sans-serif;color:#2c87ab;cursor:pointer;font-size:16px;line-height:24px}
.c-link:hover{text-decoration:underline}.c-menu-context{position:absolute;top:calc(100% + 5px);right:0;width:340px;border-radius:15px;z-index:1;padding:10px;background:#fff;-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.25);box-shadow:0 2px 2px rgba(0,0,0,0.25);visibility:hidden;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.c-menu-context.is-active{visibility:visible;opacity:1;-ms-filter:none;filter:none}
.c-menu-context__item{border-bottom:1px solid #e6e7e9;padding-bottom:5px;padding-top:5px}
.c-menu-context__item:last-child{padding-bottom:0;border-bottom:0}.c-menu-context__item:first-child{padding-top:0}
.c-menu-context__item__link{padding:5px;border-radius:10px;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.c-menu-context__item__link:hover{background:#e6e7e9}.c-menu-context__item__icon{width:24px;font-size:24px}
.c-menu-context__item__text{width:calc(100% - 34px);margin-left:10px}.c-menu-context__item__title{font-family:'Gilroy-Medium',sans-serif;font-size:16px;margin-bottom:2px}
.c-menu-context__item__description{font-family:'Gilroy-Regular',sans-serif;font-size:14px}
.menu{position:relative}.menu:before{position:absolute;content:'';width:1920px;height:100%;background:#000;left:99%;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.menu-wrap{text-align:center;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);margin-left:20px}
.menu-helper{font-size:0}.menu-wrap{background:#000;border-radius:40px 0 0 40px}.menu-wrap .menu-item{font-size:0;position:relative;z-index:1}
.menu-wrap .menu-item a{font-size:16px;font-family:'Raleway-Medium',sans-serif;padding:12px 18px 10px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#fff;cursor:pointer;position:relative;display:inline-block;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);z-index:1}
.menu-wrap .menu-item a.active,.menu-wrap .menu-item a:hover{font-weight:normal}.menu-wrap .menu-item:first-child a{padding-left:30px}
.menu-mobile-close,.menu-mobile-open{cursor:pointer;position:fixed;right:5px;top:5px;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}
.menu-mobile-open{opacity:1;-ms-filter:none;filter:none;visibility:hidden;z-index:5}
.menu-mobile-open.is-scrolling{opacity:1;-ms-filter:none;filter:none}.menu-mobile-open:hover{opacity:1;-ms-filter:none;filter:none}
.menu-mobile-open.active{visibility:hidden;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateX(-200px);-moz-transform:translateX(-200px);-o-transform:translateX(-200px);-ms-transform:translateX(-200px);transform:translateX(-200px);z-index:51;-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)}
.menu-mobile-close{visibility:hidden;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);z-index:52;background:#fff;color:#2c87ab}
.menu-mobile-close.active{visibility:visible;opacity:1;-ms-filter:none;filter:none;z-index:52;-webkit-transform:translateX(-200px) rotate(-90deg);-moz-transform:translateX(-200px) rotate(-90deg);-o-transform:translateX(-200px) rotate(-90deg);-ms-transform:translateX(-200px) rotate(-90deg);transform:translateX(-200px) rotate(-90deg)}
.menu-logo{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block}
.menu-logo img{display:block;width:100%;max-width:92px;height:auto}.menu-overlay{position:fixed;top:0;left:0;background-color:#000;visibility:hidden;width:100%;height:100%;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);cursor:pointer;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);z-index:51}
.menu-overlay.active{opacity:.8;-ms-filter:"alpha(opacity=80)";filter:alpha(opacity=80);visibility:visible}
.menu-sidebar{width:200px;height:100%;overflow:auto;position:fixed;top:0;right:-200px;-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);border-radius:25px 0 0 25px;background:#fff;z-index:53;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.menu-sidebar.active{-webkit-transform:translateX(-200px);-moz-transform:translateX(-200px);-o-transform:translateX(-200px);-ms-transform:translateX(-200px);transform:translateX(-200px)}
.menu-sidebar .menu-list{padding-left:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.menu-sidebar .menu-list .menu-item{line-height:28px;font-size:16px;margin-bottom:5px;width:100%}
.menu-sidebar .menu-list .menu-item a{display:block;font-family:'Raleway-Regular',sans-serif;padding:10px 15px;font-size:16px;line-height:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-width:1px 0 1px 1px;border-style:solid;border-color:#f8f8f8;border-radius:20px 0 0 20px}
.menu-sidebar .menu-list .menu-item a:hover,.menu-sidebar .menu-list .menu-item a.active{background-color:#2c87ab;color:#fff;border-color:#2c87ab}
.menu-sidebar .footer-redes{background:#000;margin-top:10px;padding:15px}.menu-sidebar .footer-redes .footer-redes__text{color:#fff;font-size:12px;font-family:'Raleway-Regular',sans-serif;line-height:14px;text-align-last:left;margin-bottom:8px}
.menu-sidebar .footer-redes .footer-redes__text em{font-style:normal}.menu-sidebar .footer-redes li{margin-right:10px;margin-left:0}
.menu-sidebar .footer-redes li a:before{color:#fff;font-size:24px}.menu-sidebar-cnt{padding:10px 0}
.menu-helper-item{font-size:0;display:inline-block;vertical-align:middle;margin-left:10px}
.menu-helper-item.button-tel{display:none}.menu-helper-item.button-tel:before{-webkit-animation:animationFrames 2s infinite;-moz-animation:animationFrames 2s infinite;-o-animation:animationFrames 2s infinite;-ms-animation:animationFrames 2s infinite;animation:animationFrames 2s infinite;display:inline-block}
.menu-touchslide{position:fixed;height:100%;width:20px;right:0;top:0;bottom:0;z-index:51;margin:auto}
.touch{touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
@media screen and (max-width:1199.98px){.menu:before{display:none}.menu-wrap{border:0;background:transparent;display:none}
.menu-wrap .menu-list{display:none}.menu-helper{padding-right:50px}.menu-mobile-open{visibility:visible}
.menu-mobile-open.is-scrolling{filter:drop-shadow(0 0 5px rgba(0,0,0,0.75))}.menu-mobile-close,.menu-mobile-open{top:11px;right:15px}
}@media screen and (max-width:767.98px){.menu-mobile-close,.menu-mobile-open{top:11px;right:10px}
.menu-helper-item{margin-left:5px}}.g-popup-overlay{position:fixed;width:100%;height:100%;top:0;left:0;background:#000;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);visibility:hidden;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);z-index:53;cursor:pointer}
.g-popup-overlay.active{opacity:.8;-ms-filter:"alpha(opacity=80)";filter:alpha(opacity=80);visibility:visible}
.g-popup{position:fixed;width:95%;height:95%;padding-top:17px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-width:400px;max-height:515px;top:0;bottom:0;left:0;right:0;margin:auto;opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateY(-200px);-moz-transform:translateY(-200px);-o-transform:translateY(-200px);-ms-transform:translateY(-200px);transform:translateY(-200px);visibility:hidden;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1);z-index:53}
.g-popup.active{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1;-ms-filter:none;filter:none;visibility:visible}
.g-popup-cnt{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;width:100%;height:100%}
.g-popup-inner{position:relative;background:#fff;border-radius:20px;width:100%;height:100%}
.g-popup-close{position:absolute;top:17px;right:10px;cursor:pointer;z-index:2}.g-popup-header{padding:13px 55px 13px 15px;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#2c87ab;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;border-radius:20px 20px 0 0}
.g-popup-icon{max-width:45px;font-size:0;margin-right:10px}.g-popup-icon img{max-width:100%;height:auto}
.g-popup-title{text-align:left;margin-bottom:0}.g-popup-title em,.g-popup-title strong{display:block;color:#fff}
.g-popup-title em{font-family:'Raleway-Light',sans-serif;font-size:19px;margin-bottom:5px}
.g-popup-title strong{font-family:'Raleway-Bold',sans-serif;font-size:24px}
.g-popup-scroll-user{overflow:auto;height:calc(100% - 78px);display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.g-popup-content{padding:30px 10px 10px;max-width:320px;width:100%;margin:auto;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
@media screen and (max-width:575.98px){.g-popup-title em{font-size:14px}.g-popup-title strong{font-size:20px}
}.c-post-card__top{width:100%;height:142px;position:relative;background-color:#fff;border-radius:25px 25px 0 0;overflow:hidden;display:block;z-index:1}
.c-post-card__img{width:100%;height:100%;background-position:center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-repeat:no-repeat;position:relative;border-radius:25px 25px 0 0;overflow:hidden;z-index:1}
.c-post-card__img img{position:absolute;left:-480px;right:-480px;height:100%;width:auto;margin:auto;top:0;bottom:0;z-index:-1}
.c-post-card__bottom{position:relative;height:108px;background:#2c87ab;margin-top:-22px;border-radius:25px;padding:12px 15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;z-index:2}
.c-post-card__categoria{font-size:12px;line-height:100%;text-transform:uppercase;font-family:'Raleway-Light',sans-serif;margin-bottom:5px}
.c-post-card__title{font-size:16px;height:16px;color:#fff;line-height:100%;font-family:'Raleway-Bold',sans-serif;position:relative;margin-bottom:5px}
.c-post-card__desc{font-size:12px;position:relative;font-family:'Raleway-Regular',sans-serif;height:42px;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.c-post-card__fecha{font-size:12px;font-family:'Raleway-Light',sans-serif;position:absolute;z-index:1;color:#1f2d36;left:0;bottom:0;padding:7px 15px 25px;border-radius:25px 25px 0 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:rgba(255,255,255,0.9);zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5FFFFFF,endColorstr=#E5FFFFFF) !important}
.c-post-card__categoria,.c-post-card__desc{display:-webkit-box;color:#fff}.c-proceso{position:relative;text-align:center;max-width:200px;display:inline-block;margin-right:20px}
.c-proceso:last-child{margin-right:0}.c-proceso__number{width:24px;height:24px;display:block;line-height:24px;text-align:center;font-size:16px;color:#2c87ab;background:#f8f8f8;border:1px solid #2c87ab;border-radius:50%;margin:auto;margin-bottom:6px;font-family:'Gilroy-Bold',sans-serif}
.c-proceso__image{text-align:center;font-size:0;margin-bottom:12px}.c-proceso__image img{max-width:100%;height:auto}
.c-proceso__nombre{display:block;font-size:19px;line-height:1;text-transform:uppercase;text-align:center;color:#2c87ab;font-family:'Gilroy-Bold',sans-serif;margin-bottom:0}
@media screen and (max-width:1199.98px){.c-proceso{margin-left:20px;margin-right:20px;margin-bottom:20px}
.c-proceso:last-child{margin-right:20px}}@media screen and (max-width:575.98px){.c-proceso{max-width:calc(50% - 40px)}
}.c-proyecto-card__protitipo{display:block;position:absolute;top:0;left:10px;bottom:0;z-index:2;margin:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:5px solid #000;border-radius:15px;height:226px;width:110px;overflow:hidden;font-size:0}
.c-proyecto-card__protitipo em{font-size:0}.c-proyecto-card__protitipo img{background:#e6e7e9;display:block;width:100%;height:auto}
.c-proyecto-card__top{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-line-pack:end;-webkit-align-content:flex-end;align-content:flex-end;z-index:0;height:180px;width:100%;padding:5px 15px 30px 130px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;background:#fff;border-radius:25px 25px 0 0}
.c-proyecto-card__categoria{font-size:12px;text-transform:uppercase;font-family:'Raleway-Light',sans-serif;color:#fff;text-align-last:left;margin-bottom:3px;width:calc(100% - 35px)}
.c-proyecto-card__cliente-logo{text-align:left;filter:grayscale(100%);font-size:0;border-radius:50%;width:75px;height:75px;padding:6px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;background:#fff;margin-bottom:12px}
.c-proyecto-card__cliente-logo img{margin-left:0;max-width:100%;height:auto}.c-proyecto-card__bottom{display:block;position:relative;z-index:1;height:81px;overflow:hidden;background:#fff;border-radius:25px;margin-top:-22px;padding:10px 15px 10px 130px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.c-proyecto-card__razonsocial{color:#fff;font-family:'Raleway-SemiBold',sans-serif;font-size:16px;line-height:100%;margin-bottom:1px}
.c-proyecto-card__desc{font-size:12px;line-height:14px;height:57px;color:#000;font-family:'Raleway-Regular',sans-serif;position:relative;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical}
.g-subtitle-section{font-family:'Gilroy-Bold',sans-serif;color:#2c87ab;font-size:24px;margin-bottom:0}
@media screen and (max-width:575.98px){.g-subtitle-section{font-size:22px}}.c-tecnologia{position:relative;max-width:100px;text-align:center;display:inline-block;vertical-align:top;padding:5px 0 5px 20px}
.c-tecnologia__nombre{text-transform:uppercase;color:#1f2d36;font-family:'Gilroy-Medium',sans-serif;font-size:12px;position:relative}
.c-tecnologia__imagen{width:70px;height:70px;margin:auto;border-radius:50%;background:#e6e7e9;font-size:0;position:relative}
.c-tecnologia__imagen:before{content:'';display:block;position:absolute;bottom:0;top:0;right:100%;margin:auto;width:20px;height:1px;border:1px dashed #e6e7e9;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.c-tecnologia__imagen img{width:100%;height:auto}.g-title-section{padding:4px 20px 4px 47px;display:inline-block;background:#fff;filter:drop-shadow(0 5px 3px rgba(0,0,0,0.2));border-radius:0 22px 22px 0;position:relative;margin-bottom:20px;font-weight:normal;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-width:1px 1px 1px 0;border-color:#2c87ab;border-style:solid;position:relative;z-index:1}
.g-title-section:before{content:'';display:block;position:absolute;right:99%;top:0;bottom:0;width:1920px;background:#fff;border-width:1px 0;border-color:#2c87ab;border-style:solid;height:100%;margin:auto}
.gts-icon{position:absolute;display:block;left:0;top:-40px;bottom:-40px;height:50px;line-height:50px;margin:auto;font-size:44px;color:#2c87ab}
.gts-text em{font-family:'Gilroy-Regular',sans-serif;font-size:16px;color:#000;display:block;width:100%}
@media screen and (max-width:575.98px){.gts-icon{font-size:40px}}.g-title{display:block;text-align:left;max-width:550px;padding-top:40px;width:100%;position:relative;font-weight:normal;z-index:2;font-size:0}
.g-title.g-title--large .g-title__text__t1{font-size:32px;line-height:35px}.g-title.g-title--large .g-title__text__t2{font-size:50px;line-height:57px}
.g-title.g-title--medium{-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;padding-left:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.g-title.g-title--medium:before{content:'';display:block;height:1px;width:1920px;position:absolute;right:100%;top:0;bottom:0;margin:auto;background:#576268;background:#e6e7e9}
.g-title.g-title--medium .g-title__text,.g-title.g-title--medium .g-title__icon{display:inline-block;vertical-align:middle}
.g-title.g-title--medium .g-title__icon{width:66px;margin-right:10px;font-size:0}
.g-title.g-title--medium .g-title__icon img{max-width:100%;height:auto}.g-title.g-title--medium .g-title__text__t1{font-size:32px;line-height:1}
.g-title.g-title--medium .g-title__text__t2{font-size:40px;line-height:1}.g-title.g-title--small{margin-bottom:20px;padding-top:0}
.g-title.g-title--small .g-title__text__t1{font-size:26px;line-height:26px}.g-title.g-title--small .g-title__text__t2{font-size:32px;line-height:32px}
.g-title.has-icon .g-title__text{width:calc(100% - 76px)}.g-title.has-icon .g-title__controls{padding-left:76px}
.g-title__text{position:relative;z-index:2;margin-bottom:0;margin-top:0;font-weight:normal}
.g-title__text__t1{color:#000;font-family:'Gilroy-Regular',sans-serif}
.g-title__text__t2{color:#000;font-family:'Gilroy-Bold',sans-serif}
.g-title__text__t3{font-size:14px;line-height:16px;font-family:'Gilroy-Regular',sans-serif;text-transform:uppercase;color:#2c87ab}
.g-title__controls{margin-top:7px;position:relative;font-size:0;z-index:1}.g-title__controls .g-boton,.g-title__controls .g-circle-button{margin-right:10px}
@media screen and (max-width:767.98px){.g-title{max-width:100%}.g-title.g-title--large .g-title__text__t1{font-size:20px;line-height:21px}
.g-title.g-title--large .g-title__text__t2{font-size:36px;line-height:41px}.g-title.g-title--medium .g-title__controls{text-align:right}
.g-title.g-title--small .g-title__text__t1{font-size:20px}.g-title.g-title--small .g-title__text__t2{font-size:26px}
.g-title__text__t3{font-size:11px;line-height:14px}}@media screen and (max-width:575.98px){.g-title{text-align:center;margin-left:auto;margin-right:auto}
.g-title.g-title--medium{margin-left:0;text-align:left}.g-title.g-title--medium .g-title__text__t1{font-size:20px;line-height:20px}
.g-title.g-title--medium .g-title__text__t2{font-size:28px;line-height:28px}.g-title__text{width:100%}
}