.cf{zoom:1}.cf:after,.cf:before{content:'';display:table}.cf:after{clear:both}
*{-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-size:15px;font-family:'Raleway-Regular',sans-serif;margin:0;background-color:#fff}
body.active{overflow:hidden}body.loading.first #page{visibility:hidden;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-o-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0)}
body.loading.first .g-loader{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
body.loading.first.st .g-loader{z-index:6}body.loading.end #page{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-o-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}
body.loading.end .g-loader{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
body.error .g-loader-offline{display:block}body.error .g-loader-online{display:none}
body.loaded{background:#fff}body.loaded.begin #page{visibility:visible}body.loaded.begin .g-loader{visibility:hidden;-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-o-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);z-index:0}
body.loaded.begin.on .g-loader{z-index:3}body.loaded.end #page{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;-ms-filter:none;filter:none}
body.loaded.end .g-loader{-webkit-transform:translateX(100%);-moz-transform:translateX(100%);-o-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);visibility:visible}
.wrapper{overflow:hidden;position:static}#page{background-color:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.wrapper,.footer{left:0;z-index:1;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.wrapper.active,.footer.active{-webkit-transform:translateX(-200px);-moz-transform:translateX(-200px);-o-transform:translateX(-200px);-ms-transform:translateX(-200px);transform:translateX(-200px)}
.g-area-segura{width:94%;max-width:1100px;margin:auto}@media screen and (max-width:575.98px){.g-area-segura--full-mobile{width:100%}
}@-moz-keyframes load{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);width:50%}
50%{-webkit-transform:translateX(100px);-moz-transform:translateX(100px);-o-transform:translateX(100px);-ms-transform:translateX(100px);transform:translateX(100px)}
100%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);width:50%}
}@-webkit-keyframes load{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);width:50%}
50%{-webkit-transform:translateX(100px);-moz-transform:translateX(100px);-o-transform:translateX(100px);-ms-transform:translateX(100px);transform:translateX(100px)}
100%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);width:50%}
}@-o-keyframes load{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);width:50%}
50%{-webkit-transform:translateX(100px);-moz-transform:translateX(100px);-o-transform:translateX(100px);-ms-transform:translateX(100px);transform:translateX(100px)}
100%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);width:50%}
}@keyframes load{0%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);width:50%}
50%{-webkit-transform:translateX(100px);-moz-transform:translateX(100px);-o-transform:translateX(100px);-ms-transform:translateX(100px);transform:translateX(100px)}
100%{-webkit-transform:translateX(0);-moz-transform:translateX(0);-o-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);width:50%}
}img.lozad{-webkit-transition:all 1.2s cubic-bezier(0.38,1.01,0.455,1.13);-moz-transition:all 1.2s cubic-bezier(0.38,1.01,0.455,1.13);-o-transition:all 1.2s cubic-bezier(0.38,1.01,0.455,1.13);-ms-transition:all 1.2s cubic-bezier(0.38,1.01,0.455,1.13);transition:all 1.2s cubic-bezier(0.38,1.01,0.455,1.13);opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0)}
img[data-loaded=true]{opacity:1;-ms-filter:none;filter:none}.home-wizard{width:100%;max-width:592px}
.g-banner-page{height:280px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative}
.g-banner-page+section{position:relative;z-index:1}.g-banner-page.has-image{height:350px}
.g-banner-page.has-image .gbp-inner{padding-bottom:0}.gbp-bg{height:100%;width:100%;position:absolute;z-index:1;top:0;bottom:0;left:0;right:0;margin:auto;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-position:center center;overflow:hidden}
.gbp-bg:before{content:'';display:block;position:absolute;left:-200px;top:-580px;border-radius:50%;width:1484px;height:1484px;background:-webkit-radial-gradient(53.75% 53.75% at 46.25% 45.13%,#fff 18.75%,rgba(255,255,255,0.506) 64.58%,rgba(255,255,255,0.173) 81.77%,rgba(255,255,255,0) 100%);background:-moz-radial-gradient(53.75% 53.75% at 46.25% 45.13%,#fff 18.75%,rgba(255,255,255,0.506) 64.58%,rgba(255,255,255,0.173) 81.77%,rgba(255,255,255,0) 100%);background:-o-radial-gradient(53.75% 53.75% at 46.25% 45.13%,#fff 18.75%,rgba(255,255,255,0.506) 64.58%,rgba(255,255,255,0.173) 81.77%,rgba(255,255,255,0) 100%);background:-ms-radial-gradient(53.75% 53.75% at 46.25% 45.13%,#fff 18.75%,rgba(255,255,255,0.506) 64.58%,rgba(255,255,255,0.173) 81.77%,rgba(255,255,255,0) 100%);background:radial-gradient(53.75% 53.75% at 46.25% 45.13%,#fff 18.75%,rgba(255,255,255,0.506) 64.58%,rgba(255,255,255,0.173) 81.77%,rgba(255,255,255,0) 100%);opacity:.96;-ms-filter:"alpha(opacity=96)";filter:alpha(opacity=96)}
.gbp-inner{height:100%;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:start;-moz-box-pack:start;-o-box-pack:start;-ms-flex-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;-webkit-box-align:start;-moz-box-align:start;-o-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start;padding-top:85px;padding-bottom:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:relative;z-index:2}
.gbp-imagen{position:absolute;bottom:0;right:0;font-size:0}.gbp-imagen img{max-width:100%;height:auto}
@media screen and (max-width:1919.98px){.g-banner-page{-webkit-background-size:1920px 280px;-moz-background-size:1920px 280px;background-size:1920px 280px}
.gbp-bg:before{left:-565px}}@media screen and (max-width:1199.98px){.g-banner-page.has-image{-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.g-banner-page.has-image .g-title,.g-banner-page.has-image .gbp-imagen{width:50%}
.gbp-inner{padding-top:60px}}@media screen and (max-width:991.98px){.g-banner-page{height:auto}
.g-banner-page.has-image{height:auto}.g-banner-page.has-image .gbp-inner{-webkit-box-lines:multiple;-moz-box-lines:multiple;-o-box-lines:multiple;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}
.g-banner-page.has-image .g-title,.g-banner-page.has-image .gbp-imagen{width:100%}
.g-banner-page.has-image .gbp-imagen{position:relative;max-width:400px;margin:auto}
}@media screen and (max-width:767.98px){.gbp-inner{padding-left:0;padding-bottom:10px}
}@media screen and (max-width:575.98px){.gbp-bg:before{width:500px;height:500px;left:-100px;top:-170px}
}.c-header{position:fixed;width:100%;-webkit-transform:translateY(-100%);-moz-transform:translateY(-100%);-o-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);top:0;left:0;z-index:4;-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.c-header.is-scrolling.is-fixed{-webkit-box-shadow:0 4px 12px -4px rgba(0,0,0,0.5);box-shadow:0 4px 12px -4px rgba(0,0,0,0.5)}
.c-header.is-scrolling{background:#fff;padding-top:0}.c-header.is-scrolling .c-header__logo{max-width:112px}
.c-header.is-fixed{-webkit-transform:translateY(0);-moz-transform:translateY(0);-o-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.c-header__content{z-index:3;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.c-header__logo{max-width:200px;width:100%;margin:0;-webkit-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-moz-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-o-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);-ms-transition:all .2s cubic-bezier(0.25,0.8,0.25,1);transition:all .2s cubic-bezier(0.25,0.8,0.25,1)}
.c-header__logo img{display:block;width:100%;height:auto}@media screen and (max-width:1199.98px){.c-header{top:0;padding-top:6px;padding-bottom:6px}
.c-header__logo{max-width:92px}.c-header.is-scrolling{padding-top:6px}.c-header.is-scrolling .c-header__logo{max-width:92px}
}.gi3d-scene3d{height:250px;width:250px;-webkit-perspective:1000px;-moz-perspective:1000px;-ms-perspective:1000px;perspective:1000px;margin:auto;z-index:0}
.gi3d-object3d{width:100%;height:100%;position:absolute;top:0;-webkit-transform:translateX(0) rotateX(30deg) rotateY(60deg) rotateZ(10deg);-moz-transform:translateX(0) rotateX(30deg) rotateY(60deg) rotateZ(10deg);-o-transform:translateX(0) rotateX(30deg) rotateY(60deg) rotateZ(10deg);-ms-transform:translateX(0) rotateX(30deg) rotateY(60deg) rotateZ(10deg);transform:translateX(0) rotateX(30deg) rotateY(60deg) rotateZ(10deg);-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-animation:girar 15s infinite linear;-moz-animation:girar 15s infinite linear;-o-animation:girar 15s infinite linear;-ms-animation:girar 15s infinite linear;animation:girar 15s infinite linear}
.gi3d-face3d{position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;max-width:250px;max-height:250px;width:100%;height:100%}
.gi3d-face3d img{width:100%;max-width:100%;height:auto}.gi3d-face3d#im28{fill:red;-webkit-transform:translateZ(125px);-moz-transform:translateZ(125px);-o-transform:translateZ(125px);-ms-transform:translateZ(125px);transform:translateZ(125px)}
.gi3d-face3d#im29{fill:#008000;-webkit-transform:translateZ(-125px);-moz-transform:translateZ(-125px);-o-transform:translateZ(-125px);-ms-transform:translateZ(-125px);transform:translateZ(-125px)}
.gi3d-face3d#im2A{fill:#00f;-webkit-transform:translateX(125px) rotateY(90deg);-moz-transform:translateX(125px) rotateY(90deg);-o-transform:translateX(125px) rotateY(90deg);-ms-transform:translateX(125px) rotateY(90deg);transform:translateX(125px) rotateY(90deg)}
.gi3d-face3d#im2B{fill:orange;-webkit-transform:translateX(-125px) rotateY(-90deg);-moz-transform:translateX(-125px) rotateY(-90deg);-o-transform:translateX(-125px) rotateY(-90deg);-ms-transform:translateX(-125px) rotateY(-90deg);transform:translateX(-125px) rotateY(-90deg)}
.gi3d-face3d#im2C{fill:purple;-webkit-transform:translateY(125px) rotateX(90deg);-moz-transform:translateY(125px) rotateX(90deg);-o-transform:translateY(125px) rotateX(90deg);-ms-transform:translateY(125px) rotateX(90deg);transform:translateY(125px) rotateX(90deg)}
.gi3d-face3d#im2D{fill:#ff0;-webkit-transform:translateY(-125px) rotateX(-90deg);-moz-transform:translateY(-125px) rotateX(-90deg);-o-transform:translateY(-125px) rotateX(-90deg);-ms-transform:translateY(-125px) rotateX(-90deg);transform:translateY(-125px) rotateX(-90deg)}
@-moz-keyframes girar{from{-webkit-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-moz-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-o-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-ms-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0)}
to{-webkit-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-moz-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-o-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-ms-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg)}
}@-webkit-keyframes girar{from{-webkit-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-moz-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-o-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-ms-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0)}
to{-webkit-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-moz-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-o-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-ms-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg)}
}@-o-keyframes girar{from{-webkit-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-moz-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-o-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-ms-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0)}
to{-webkit-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-moz-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-o-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-ms-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg)}
}@keyframes girar{from{-webkit-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-moz-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-o-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);-ms-transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0);transform:translateX(0) rotateX(0) rotateY(0) rotateZ(0)}
to{-webkit-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-moz-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-o-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);-ms-transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg);transform:translateX(0) rotateX(0) rotateY(360deg) rotateZ(360deg)}
}@-moz-keyframes scaleImg{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
15%{opacity:1;-ms-filter:none;filter:none}95%{opacity:1;-ms-filter:none;filter:none;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
100%{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
}@-webkit-keyframes scaleImg{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
15%{opacity:1;-ms-filter:none;filter:none}95%{opacity:1;-ms-filter:none;filter:none;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
100%{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
}@-o-keyframes scaleImg{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
15%{opacity:1;-ms-filter:none;filter:none}95%{opacity:1;-ms-filter:none;filter:none;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
100%{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
}@keyframes scaleImg{0%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
15%{opacity:1;-ms-filter:none;filter:none}95%{opacity:1;-ms-filter:none;filter:none;-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
100%{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-o-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}
}.g-loader{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-o-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);position:fixed;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:3;width:100%;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;background:#f8f8f8;-webkit-box-align:center;-moz-box-align:center;-o-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:center;-moz-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;text-align:center;color:c-5;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:0;bottom:0;right:0;left:0}
.g-loader span{font-size:16px;margin-bottom:5px;font-family:'Gilroy-Bold',sans-serif;display:block}
.g-loader em{display:block;font-size:12px;font-family:'Gilroy-Regular',sans-serif;font-style:normal;text-align:center}
.g-loader .gi3d-scene3d{-webkit-transform:scale(0.3);-moz-transform:scale(0.3);-o-transform:scale(0.3);-ms-transform:scale(0.3);transform:scale(0.3);position:absolute;top:-150px;bottom:-150px;right:-150px;left:-150px}
.g-loader .gi3d-object3d{-webkit-animation:girar 5s infinite linear;-moz-animation:girar 5s infinite linear;-o-animation:girar 5s infinite linear;-ms-animation:girar 5s infinite linear;animation:girar 5s infinite linear}
.g-inload{width:100%;max-width:200px}.g-loader-online{display:block}.g-loader-offline{display:none}
.g-lpicon{color:#000;font-size:50px;text-align:center;margin-bottom:10px}.g-loader-icon{max-width:100px;margin:auto;min-height:120px;position:relative}
.g-loader-progress{margin:auto;margin-bottom:10px;width:100%;max-width:200px;height:3px;background:#8f969b;position:relative;overflow:hidden}
.g-loader-progress:after{content:'';display:block;position:absolute;height:100%;width:50%;background:#000;-webkit-animation:load 1.2s linear infinite;-moz-animation:load 1.2s linear infinite;-o-animation:load 1.2s linear infinite;-ms-animation:load 1.2s linear infinite;animation:load 1.2s linear infinite}
.menu-mobile-close,.menu-mobile-open,.menu-overlay{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);z-index:0}
.g-popup-overlay,.g-popup{opacity:0;-ms-filter:"alpha(opacity=0)";filter:alpha(opacity=0);z-index:0}